<!-- <app-user-banner></app-user-banner>
<div class="container">
   
    <div class="row">
        <div class="col-md-3 mt-3">
            <nav class="mobile-category" *ngIf="isMobile">
                <ul class="mobile-category-list">
                    <li class="mobile-category-item" *ngFor="let category of categories$ | async">
                        <a [routerLink]="['/user/index/category', category.categoryId, 'products']"
                            class="mobile-category-link"> {{ category.name }}</a>
                    </li>
                </ul>
            </nav>
            <div *ngIf="!isMobile">
                <div class=" search col-12 mb-3">
                    <div class="col-12" id="search-component">
                        <input class="form-control" #searchBox id="search-box" (input)="search(searchBox.value)"
                            autocomplete="off" placeholder="Tìm kiếm theo loại..." />
                    </div>
                </div>
            </div>
            <nav class="category" *ngIf="!isMobile">
                <ul class="list-group">
                    <h4><i class="fas fa-utensils"></i>
                        Category</h4>
                    <li *ngFor="let category of categories$ | async" class="list-group-item">
                        <a class="nav-link" [routerLink]="['/user/index/category', category.categoryId, 'products']">
                            {{ category.name }}
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div> -->


<app-user-banner></app-user-banner>
<div class="comtainer">
    <section id="our_menu" class="pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page_title text-center mb-4">
                        <h1>our menu</h1>
                        <div class="single_line"></div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="!isMobile">
                <div id="categoryCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <ng-container *ngIf="categories$ | async as categories">
                            <div *ngFor="let chunk of chunkArray(categories, 4); let i = index"
                                class="carousel-item text-center" [class.active]=" i===0">
                                <div class="row justify-content-center">
                                    <div class="col-md-2" *ngFor="let category of chunk">
                                        <a class="nav-link"
                                            [routerLink]="['/user/index/category', category.categoryId, 'products']"
                                            role="tab">
                                            {{ category.name }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#categoryCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#categoryCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <nav class="mobile-category" *ngIf="isMobile">
                <ul class="mobile-category-list">
                    <li class="mobile-category-item" *ngFor="let category of categories$ | async">
                        <a [routerLink]="['/user/index/category', category.categoryId, 'products']"
                            class="mobile-category-link"> {{ category.name }}</a>
                    </li>
                </ul>
            </nav>
            <hr>
        </div>
        <router-outlet></router-outlet>
    </section>
</div>