<app-user-banner></app-user-banner>


<div class="container">
    <section class="food_section layout_padding-bottom">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    DANH SÁCH MÓN
                </h2>
            </div>
            <!-- <input type="text" (input)="search($event)" class="input" placeholder="Bạn tìm loại nào!"> -->
            <ul class="filters_menu" *ngFor="let chunk of chunkArray(categories, 4); let i = index"
                [class.active]=" i===0">
                <li class="active" (click)="getCategories()">All</li>
                <li *ngFor="let category of chunk"
                    [routerLink]="['/user/index/category', category.categoryId, 'products']" role="tab">
                    {{ category.name }}
                </li>
            </ul>
            <router-outlet></router-outlet>
        </div>
    </section>
</div>