<div class="modal-header">
  <h4 class="modal-title">Update</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="inventoryBranchForm" (ngSubmit)="updateInventoryBranch()">
    <div class="row">
      <div class="col-lg-3">
        <label for="exampleInputPassword1" class="form-label">Nhà sản xuất</label>
        <div class="mb-3">
          <select class="form-select" aria-label="Default select example" formControlName="supplierId">
            <option value="">Chọn nhà sản xuất</option>
            <option *ngFor="let supplier of suppliers" [value]="supplier.supplierId"> {{ supplier.supplierName }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-lg-3">
        <label for="exampleInputPassword1" class="form-label">Nhà hàng</label>
        <div class="mb-3">
          <select class="form-select" aria-label="Default select example" formControlName="restaurantId">
            <option value="">Chọn nhà hàng</option>
            <option *ngFor="let restaurant of restaurants " [value]="restaurant.restaurantId">{{
              restaurant.restaurantName
              }}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Nguyên liệu</label>
          <div class="mb-3">
            <select class="form-select" aria-label="Default select example" formControlName="ingredientId">
              <option value="">Chọn nguyên liệu</option>
              <option *ngFor="let ing of ingredients " [value]="ing.ingredientId">{{ ing.name }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">
    Đóng
  </button>
</div>