<div class="container">
    <h1 class="text-center display-4">Danh sách nhà cung cấp</h1>
    <p class="d-inline-flex gap-1">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">
            Thêm nhà cung cấp
        </button>
    </p>
    <p class="float-end">
        <select class="form-select" (change)="onTableSizeChange($event)">
            <option *ngFor="let size of tableSizes">
                {{size}}
            </option>
        </select>
    </p>
    <div class="collapse pb-3" id="collapseExample">
        <div class="card card-body">
            <form [formGroup]="supplierForm" (ngSubmit)="addSupplier()">
                <div class="row g-3">
                    <div class="col-md-6">
                        <label for="supplierName" class="form-label">Tên nhà cung cấp<span
                                style="color: red;">(*)</span></label>
                        <input type="text" class="form-control" formControlName="supplierName">
                        <div *ngIf="supplierForm.get('supplierName')?.invalid && (supplierForm.get('supplierName')?.touched || isSubmitted)"
                            class="text-danger">Tên nhà cung cấp là bắt buộc.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="address" class="form-label">Địa chỉ<span style="color: red;">(*)</span></label>
                        <input type="text" class="form-control" formControlName="address">
                        <div *ngIf="supplierForm.get('address')?.invalid && (supplierForm.get('address')?.touched || isSubmitted)"
                            class="text-danger">Địa chỉ là bắt buộc.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="phone" class="form-label">Số điện thoại<span style="color: red;">(*)</span></label>
                        <input type="text" class="form-control" formControlName="phone">
                        <div *ngIf="supplierForm.get('phone')?.invalid && supplierForm.get('phone')?.errors?.['pattern']"
                            class="text-danger">
                            Số điện thoại không đúng định dạng.
                        </div>
                        <div *ngIf="supplierForm.get('phone')?.invalid && supplierForm.get('phone')?.errors?.['required'] && 
                          (supplierForm.get('phone')?.touched || isSubmitted)" class="text-danger">
                            Số điện thoại là bắt buộc.
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="email" class="form-label">Email<span style="color: red;">(*)</span></label>
                        <input type="email" class="form-control" formControlName="email">
                        <div *ngIf="supplierForm.get('email')?.invalid && supplierForm.get('email')?.errors?.['email'] &&
                          (supplierForm.get('email')?.touched || isSubmitted)" class="text-danger">
                            Email không đúng định dạng.
                        </div>
                        <div *ngIf="supplierForm.get('email')?.invalid && supplierForm.get('email')?.errors?.['required'] &&
                          (supplierForm.get('email')?.touched || isSubmitted)" class="text-danger">
                            Email là bắt buộc.
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit">Lưu</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="table-responsive">
        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
            <thead>
                <tr>
                    <th class="text-center">Mã nhà cung cấp</th>
                    <th class="text-center">Tên nhà cung cấp</th>
                    <th class="text-center">Địa chỉ</th>
                    <th class="text-center">Số điện thoại</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Chức năng</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let supplier of suppliers">
                    <td class="text-center text-muted">S{{ supplier.supplierId }}</td>
                    <td class="text-center">{{ supplier.supplierName }}</td>
                    <td class="text-center">{{ supplier.address }}</td>
                    <td class="text-center">{{ supplier.phone }}</td>
                    <td class="text-center">{{ supplier.email }}</td>
                    <td class="text-center">
                        <a type="button" class="btn btn-primary m-2" (click)="openSupplierDetailModal(supplier)"><i
                                class="fa-solid fa-pen-to-square"></i></a>
                        <a type="button" class="btn btn-danger" (click)="deleteSupplier(supplier)"><i
                                class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <pagination-controls previousLabel="Prev" nextLabel="Next"
            (pageChange)="onTableDataChange($event)"></pagination-controls>
    </div>
</div>