<div class="container">
    <h1>Gộp bàn</h1>

    <form [formGroup]="reservationForm">

        <!-- <div class="col-lg-6 mb-3">
            <button class="btn btn-primary" (click)="createMergeTableId()">Tạo mã gộp bàn: </button>
            {{ mergeTableId }}
            <button class="btn btn-primary" [disabled]="isResetDisabled" (click)="resetMergeTableId()">Đặt lại</button>
            <div style="color: red;">
                {{ mergeTableIdMessage }}
            </div>
        </div> -->
        <div class="row">
            <!-- <div class="col-lg-6 mb-3">
                <label for="mergeTableIdSelect">Hoặc chọn mã gộp bàn muốn gộp vào</label>
                <select formControlName="mergeTableId" (change)="onMergeTableIdChange($event)" class="form-select"
                    id="mergeTableIdSelect">
                    <option value=""></option>
                    <option *ngFor="let mergeTableId of mergeTableIds" [value]="mergeTableId">
                        {{mergeTableId}}
                    </option>
                </select>
            </div> -->

            <div class="col-lg-6 mb-3">
                <label for="tableIdSelect">Chọn tên bàn muốn gộp vào</label>
                <select formControlName="tableIdMerge1" (change)="onTableIdChange($event)" class="form-select"
                    id="tableIdSelect">
                    <option *ngFor="let reservation of reservationsInUse" [value]="reservation.restaurantTableId">
                        {{ findTableNameByTableId(reservation.restaurantTableId) }}
                    </option>
                </select>
                <div style="color: red;">
                    {{ selectTableIdMessage }}
                </div>
            </div>

            <div class="col-lg-6 mb-3">
                <label for="tableIdSelect">Chọn tên bàn muốn gộp vào</label>
                <select formControlName="tableIdMerge2" (change)="onTableIdChange($event)" class="form-select"
                    id="tableIdSelect">
                    <option *ngFor="let reservation of reservationsInUse" [value]="reservation.restaurantTableId">
                        {{ findTableNameByTableId(reservation.restaurantTableId) }}
                    </option>
                </select>
                <div style="color: red;">
                    {{ selectTableIdMessage }}
                </div>
            </div>
        </div>
        <!-- <div class="mb-3">
            <p>Mã hiện đang chọn: {{ mergeTableId }}</p>
        </div> -->

        <div class="mb-3">
            <button (click)="mergeTables()" class="btn btn-info">Gộp</button>
        </div>
    </form>

    Lưu ý: Thời gian tìm với định dạng là yyyy-MM-dd HH:mm:ss <br>
    <p class="d-inline-flex gap-1 text-center">
        <label>Tìm bất cứ thứ gì bạn nghĩ là có thể...</label>
        <input type="text" (input)="changeSearchKeyWords($event)">
        <select (change)="changeFieldName($event)">
            <option value="">Chọn tên cột cần tìm</option>
            <option value="id">Số thứ tự</option>
            <option value="mergeTableId">Mã gộp bàn</option>
            <option value="tableId">Mã bàn</option>
            <option value="reservationId">Mã đặt bàn</option>
            <option value="status">Trạng thái</option>
            <option value="mergeTime">Thời gian gộp</option>
        </select>
    </p>
    <table class="table table-bordered table-responsive">
        <thead>
            <th>Số thứ tự</th>
            <th>Mã bàn</th>
            <th>Mã gộp bàn</th>
            <th>Mã đặt bàn</th>
            <th>Đổi riêng lẻ</th>
            <th>Thời gian gộp</th>
            <th>Đổi tất cả</th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let mergeTable of mergeTablesCache">
                <td>{{ mergeTable.id }}</td>
                <td [ngStyle]="{
                'color': mergeTableColors[mergeTable.mergeTableId],
                'font-weight': 'bold',
              }">{{ mergeTable.tableId }}</td>
                <td [ngStyle]="{
                'color': mergeTableColors[mergeTable.mergeTableId],
                'font-weight': 'bold',
              }">{{ mergeTable.mergeTableId }}</td>
                <td>{{ mergeTable.reservationId }}</td>
                <td>
                    <select [disabled]="mergeTable.status === 'Đã tách'" [(ngModel)]="mergeTable.status"
                        (ngModelChange)="changeMergeStatusOne(mergeTable.id!, $event)" class="form-select">
                        <option value="Đã gộp">Đã gộp</option>
                        <option value="Từ chối gộp">Từ chối gộp</option>
                        <option value="Chờ xác nhận">Chờ xác nhận</option>
                        <option value="Đã tách">Đã tách</option>
                    </select>
                </td>
                <td>{{ mergeTable.mergeTime }}</td>
                <td>
                    <select [disabled]="mergeTable.status === 'Đã tách'"
                        (change)="onStatusChange(mergeTable.mergeTableId, $event)" class="form-select">
                        <option [value]="'Đã gộp'" [selected]="mergeTable.status === 'Đã gộp'">Đã gộp</option>
                        <option [value]="'Từ chối gộp'" [selected]="mergeTable.status === 'Từ chối gộp'">Từ chối gộp
                        </option>
                        <option [value]="'Chờ xác nhận'" [selected]="mergeTable.status === 'Chờ xác nhận'">Chờ xác nhận
                        </option>
                        <option [value]="'Đã tách'" [selected]="mergeTable.status === 'Đã tách'">Đã tách</option>
                    </select>
                </td>
                <td><button (click)="delete(mergeTable.id!)">Xóa</button></td>
            </tr>
        </tbody>
    </table>
</div>