<!-- <header>
    <div class="container-fluid nav-bar">
            <div class="container">
                <nav class="navbar navbar-light navbar-expand-lg py-4">
                    <a href="index.html" class="navbar-brand">
                        <h1 class="text-primary fw-bold mb-0">Cater<span class="text-dark">Serv</span> </h1>
                    </a>
                    <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars text-primary"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav mx-auto">
                            <a href="index.html" class="nav-item nav-link">Home</a>
                            <a href="about.html" class="nav-item nav-link">About</a>
                            <a href="service.html" class="nav-item nav-link active">Services</a>
                            <a href="event.html" class="nav-item nav-link">Events</a>
                            <a href="menu.html" class="nav-item nav-link">Menu</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                                <div class="dropdown-menu bg-light">
                                    <a href="book.html" class="dropdown-item">Booking</a>
                                    <a href="blog.html" class="dropdown-item">Our Blog</a>
                                    <a href="team.html" class="dropdown-item">Our Team</a>
                                    <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                                    <a href="404.html" class="dropdown-item">404 Page</a>
                                </div>
                            </div>
                            <a href="contact.html" class="nav-item nav-link">Contact</a>
                        </div>
                        <button class="btn-search btn btn-primary btn-md-square me-4 rounded-circle d-none d-lg-inline-flex" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fas fa-search"></i></button>
                        <a href="" class="btn btn-primary py-2 px-4 d-none d-xl-inline-block rounded-pill">Book Now</a>
                    </div>
                </nav>
            </div>
        </div>
</header> -->
<header class="header navbar" id="navbar">
    <!-- Header Inner -->
    <div class="topnav">
        <div class="left-content">
            <div class="location-icon">
                <i class="fas fa-map-marker-alt"></i>
            </div>
            <div class="address">
                <a *ngIf="userRestaurant" (click)="openUserRestaurant()">{{ userRestaurant.restaurantName}}</a>
                <a *ngIf="!userRestaurant" (click)="openUserRestaurant()">Chọn địa điểm</a>
            </div>
        </div>
        <div class="right-content">
            <div class="support">
                <div class="address">
                    <a href="" *ngIf="userRestaurant">{{ userRestaurant.phone}}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="header-inner">
        <div class="container">
            <div class="inner">
                <div class="row" style="margin-left: 0px; margin-right: 0px;">
                    <div class="col-lg-2 col-md-2 col-12">
                        <!-- Start Logo -->
                        <div class="logo">
                            <a class="navbar-brand" routerLink="/user/index">
                                <h5><i class="fa-solid fa-seedling"></i> SPRINGLEAF</h5>
                            </a>
                        </div>
                        <!-- End Logo -->
                    </div>
                    <div class="col-lg-6 col-md-10 col-12">
                        <!-- Main Menu -->
                        <div class="main-menu">
                            <nav class="navigation">
                                <ul class="nav menu">
                                    <li class="active" routerLinkActive="active"><a routerLink="/user/index">TRANG
                                            CHỦ</a>
                                    </li>
                                    <li><a>MENU<i class="icofont-rounded-down"></i></a>
                                        <ul class="dropdown">
                                            <li routerLinkActive="active" *ngFor="let category of categories">
                                                <a
                                                    [routerLink]="['/user/index/category', category.categoryId, 'products']">{{category.name}}</a>
                                            </li>

                                        </ul>
                                    </li>
                                    <li routerLinkActive="active"><a routerLink="/user/history">DỊCH VỤ</a>
                                        <li routerLinkActive="active"><a routerLink="/user/location">CỬA HÀNG</a>
                                    </li>
                                    <li routerLinkActive="active" *ngIf="isAdminHeader?.valueOf()"><a
                                            routerLink="/admin/index">TRANG QUẢN LÝ</a></li>
                                    <!-- <li routerLinkActive="active"><a routerLink="/user/favorite">YÊU THÍCH</a></li> -->
                                </ul>
                            </nav>
                        </div>
                        <!--/ End Main Menu -->
                    </div>
                    <div class="col-lg-4 col-12">
                        <nav class="navigation">
                            <ul class="nav menu-right">
                                <li>
                                    <button class="mt-3" routerLink="/user/table"> ĐẶT BÀN</button>
                                </li>
                                <li><button class="mt-3" routerLink="/user/cart">
                                        <i class="fa-solid fa-cart-shopping">
                                            <span
                                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                                                *ngIf="orderDetailCount">
                                                {{orderDetailCount}}
                                            </span>
                                        </i>
                                    </button>
                                </li>
                                <li routerLinkActive="active" *ngIf="user">
                                    <div class="image" style="align-items: center;">
                                        <img class="small-round-image mr-2"
                                            [src]="'http://localhost:8080/public/getImage/' + user.image"
                                            #imagePreview />
                                        <span>{{truncateString(user.fullName)}}</span>
                                    </div>
                                    <ul class="dropdown">
                                        <li routerLinkActive="active"><a class="nav-link"
                                                (click)="openProfileModel()">Hồ sơ
                                                cá nhân</a>
                                        </li>
                                        <li routerLinkActive="active"><a class="nav-link"
                                                (click)="openOrderModal()">Lịch sử đơn hàng và đặt bàn</a>
                                        </li>
                                        <li routerLinkActive="active"><a class="nav-link"
                                                (click)="openUserPasswordModel()">Đổi mật khẩu
                                            </a>
                                        </li>

                                        <li routerLinkActive="active"><a class="nav-link" (click)="logOut()">Đăng
                                                xuất</a>
                                        </li>
                                        <div class="nav-item" *ngIf="!user">
                                            <button (click)="openLoginModal()" class="mt-3">
                                                Đăng nhập</button>
                                        </div>
                                    </ul>
                                </li>
                                <li *ngIf="!user">
                                    <button class="mt-3" (click)="openLoginModal()">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                    </button>
                                </li>
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Header Inner -->
</header>
<!-- End Header Area -->