<div class="modal-header">
  <h4 class="modal-title">Update</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="tableTypeForm" (ngSubmit)="updateTableType()">
    <div class="row g-3">
      <div class="col-md-6">
        <label for="tableTypeName" class="form-label">Tên kiểu bàn<span style="color: red;">(*)</span></label>
        <input type="text" formControlName="tableTypeName" class="form-control" placeholder="Nhập tên kiểu bàn..">
        <div
          *ngIf="tableTypeForm.get('tableTypeName')?.invalid && (tableTypeForm.get('tableTypeName')?.touched || isSubmitted )"
          class="text-danger">Tên kiểu bàn không được để trống.
        </div>
      </div>
      <div class="text-center">
        <button type="submit">Lưu</button>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">
    Đóng
  </button>
</div>