<div class="modal-header">
    <h4 class="modal-title">Đặt món</h4>
    <a class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </a>
</div>
<div class="row-container">
    <div class="row-item checkbox"><input type="checkbox" /></div>
    <div class="row-item image">Hình ảnh</div>
    <div class="row-item name">Tên</div>
    <div class="row-item unit-price">Đơn giá</div>
    <div class="row-item quantity">SL</div>
    <div class="row-item total-price">Thành tiền</div>
</div>
<div class="scroll-container">
    <div class="row-body" *ngFor="let product of products">
        <div class="row-item checkbox"><input type="checkbox" [(ngModel)]="selections[product.menuItemId!]"
                (click)="toggleSelection(product)"></div>
        <div class="row-item image"><img [src]="'http://localhost:8080/public/getImage/' + product.imageUrl"
                #imagePreview width="100px" class="file-preview" /></div>
        <div class="row-item name">{{ product.name }}</div>
        <div class="row-item unit-price">{{ formatAmount(product.unitPrice) }}</div>
        <div class="row-item quantity"><input [min]='1' [value]="1" type="number" [(ngModel)]="quantities[product.menuItemId!]"
                (input)="updateQuantity(product, $event)"></div>
        <div class="row-item total-price">{{ formatAmount(product.unitPrice*quantities[product.menuItemId!])}}</div>
    </div>
</div>
<div class="row-footer">
    <div class="order-info">
        <div class="total-item">
            <h5>Tổng: {{selectedItems.length}} món</h5>
        </div>
        <div class="total-price-footer">
            <h6>Tạm tính: {{ formatAmount(finalPrice()) }}</h6>
        </div>
        <div class="price-service">
            <h6>Phí dịch vụ: {{ formatAmount(50000) }}</h6>
        </div>
        <div class="final-price">
            <h6>Tổng cộng: {{ formatAmount(50000 + finalPrice()) }}</h6>
        </div>
    </div>
    <div class="order-button">
        <button class="learn-more" (click)="checkout()">
            <span aria-hidden="true" class="circle">
                <span class="icon arrow"></span>
            </span>
            <span class="button-text">Thanh toán</span>
        </button>
    </div>
</div>