
.watch-btn {
  width: 100%;
  padding: 5px 0px;
  border: 1px solid #75a418;
  border-radius: 5px;
  background-color: #75a418;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}


h1 {
  font: 700 36px 'Oswald', sans-serif;
  text-align: center;
  color: #000;
  padding-top: 5px;
}
.service-item i{
  margin-right: 5px;
}

.service-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.671);
  transition: .5s;
  margin-right: 5px;
}

.service-item:hover {
  transform: scale(1.1);
}


.service-item i{
  justify-content: center;
}