<div class="container">
    <h1>ĐẶT BÀN</h1>
    <div class="row">
        <div class="col-sm-2" *ngFor="let restaurantTable of restaurantTables">
            <div class="card  m-5">
                <div class="card-top">
                    <p class="card__title"><i class="fas fa-table"></i>

                    </p>
                    {{ restaurantTable.tableName }}
                </div>
                <div class="card__info">
                    <p class="episode__num">{{ (getRestaurantById(restaurantTable.restaurantId) | async)?.restaurantName
                        }}</p>
                    <p class="episode__type">{{ (getTableTypeById(restaurantTable.tableTypeId) | async)?.tableTypeName
                        }}</p>
                </div>
                <div class="card__btns">
                    <button class="watch-btn" (click)="openRestaurantTableInfomationModal(restaurantTable)">Đặt</button>
                </div>
            </div>
        </div>
    </div>


    
</div>



