<h1>Biểu mẫu đặt bàn</h1>
<td>Ngày giờ hiện tại: {{currentDateTime$ | date: 'EEEE, MMMM d, y, HH:mm:ss a'}}</td>
<div>
    <select (change)="onTableSizeChange($event)">
        <option *ngFor="let size of tableSizes">
            {{size}}
        </option>
    </select>
</div>
<br>

<form [formGroup]="reservationForm">
    <div class="row no-margin">
        <div class="col-md-2">
            <div class="form-group">
                <span class="form-label">Số khách</span>
                <select class="form-control" formControlName="seatingCapacity">
                    <option *ngFor="let number of numbersArray" [value]="number">{{ number }}</option>
                </select>
            </div>
            <div class="form-group">
                <span class="form-label">Mã bàn</span>
                <select class="form-control" formControlName="restaurantTableId" (change)="changeSeatingCapacity($event)">
                    <option *ngFor="let number of restaurantTables" [value]=number.tableId>{{ number.tableId }}</option>
                </select>
            </div>
        </div>
        <div class="col-md-7">
            <div class="row no-margin">
                <div class="col-md-5">
                    <div class="form-group">
                        <span class="form-label">Ngày tới</span>
                        <input class="form-control" type="date" id="selectedDate"
                            formControlName="selectedDate" [min]="minDate" [max]="maxDate" required>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <span class="form-label">Thời gian tới</span>
                        <input class="form-control" type="time" id="selectedTime"
                            formControlName="selectedTime" required>
                    </div>
                </div>
            </div>
            <div class="row no-margin">
                <div class="col-md-5">
                    <div class="form-group">
                        <span class="form-label">Định dạng VN</span>
                        <p>{{ reservationForm.get('selectedDate')?.value | date: 'dd-MM-yyyy' }}</p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <span class="form-label">Thời gian đi</span>
                        <input class="form-control" type="time" id="outTime"
                            formControlName="outTime" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-btn">
                <button class="submit-btn" (click)="bookingTable()">Đặt bàn</button>
            </div>

        </div>
    </div>

    <input class="form-control" formControlName="searchKeyWord" placeholder="Search... yyyy-MM-dd HH:mm:ss"/>

    <!-- <ng-container *ngIf="isSearch; else elseTemplate">
        <div *ngFor="let reservation of searchReservations">
            <div>{{ reservation.reservationDate | date: 'dd-MM-yyyy | HH:mm:ss' }} - {{
                reservation.outTime | date: 'HH:mm:ss' }}</div>
        </div>
    </ng-container>
    <ng-template #elseTemplate>
        <div *ngFor="let reservation of reservations">
            <div>{{ reservation.reservationDate | date: 'dd-MM-yyyy | HH:mm:ss' }} - {{
                reservation.outTime | date: 'HH:mm:ss' }}</div>
        </div>
    </ng-template> -->

</form>

<table class="table table-light container-fluid">
    <tbody>
        <tr>
            <th>Reservation id</th>
            <th>Mã bàn</th>
            <th>User</th>
            <th>Ngày tới</th>
            <th>Giờ tới</th>
            <th>Giờ đi</th>
            <th>Trạng thái</th>
            <th>Số lượng khách hàng</th>
            <th>Thời gian sử dụng còn lại</th>
            <th></th>
        </tr>
        <tr
            *ngFor="let reservation of reservations | paginate: {itemsPerPage: tableSize, currentPage: page, totalItems: count}; let i = index">
            <td>{{ reservation.reservationId }}</td>
            <td>{{ reservation.restaurantTableId }}</td>
            <td>{{ reservation.userId }}</td>
            <td>{{ reservation.reservationDate | date: 'dd-MM-yyyy' }}</td>
            <td>{{ reservation.reservationDate | date: 'HH:mm:ss' }}</td> 
            <td>{{ reservation.outTime | date: 'HH:mm:ss' }}</td>
            <td>{{ reservation.reservationStatusName }}</td>
            <td>{{ reservation.numberOfGuests }}</td>
            <td>{{ (hoursUse(reservation)) }}</td> 
            <td><button (click)="deletereservation(reservation)">Delete</button></td>
            <!-- <th> <a routerLink="/admin/reservation/{{reservation.reservationId}}" type="button">Edit
                </a></th> -->
            <!-- <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <button (click)="openreservationDetailModal(reservation)">Edit</button>
                </li>
            </ul> -->
        </tr>
    </tbody>
</table>
<div>
    <pagination-controls previousLabel="Prev" nextLabel="Next"
        (pageChange)="onTableDataChange($event)"></pagination-controls>
</div>
