<!-- Modal Template -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Chi tiết đơn hàng</h4>
    <button class="btn btn-primary" type=" button" class="close" aria-label="Close"
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Mã hóa đơn chi tiết</th>
          <th scope="col">Món</th>
          <th scope="col">Số lượng</th>
          <th scope="col">Mã Hóa đơn</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detail of billDetails">
          <td>{{ detail.billDetailId }}</td>
          <td>{{ getProductById(detail.menuItemId)?.name }}</td>
          <td>{{ detail.quantity }}</td>
          <td>{{ detail.bill }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>




  <div class="container">
    <h1 class="text-center display-4">Lịch sử đơn hàng</h1>
    <p class="float-end">
      <select class="form-select" (change)="onTableSizeChange($event)">
        <option *ngFor="let size of tableSizes">
          {{size}}
        </option>
      </select>
    </p>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Ngày đặt</th>
            <th scope="col">Tổng giá tiền</th>
            <th scope="col">Phương thức thanh toán</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let bill of billInfo | paginate: {itemsPerPage: tableSize, currentPage: page, totalItems: count}; let i = index">
            <!-- <td>{{bill.billId}}</td> -->
            <td>{{bill.billTime | date: 'dd-MM-yyyy'}}</td>
            <td>{{ formatAmount(bill.totalAmount) }}</td>
            <td *ngIf="bill.paymentMethod === 1">COD</td>
            <td *ngIf="bill.paymentMethod !== 1">Chuyển khoản</td>
            <td>
              <button type="button" class="btn btn-outline-primary"
                (click)="openModal(content, bill.billId!)">Xem</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="text-center">
      <pagination-controls previousLabel="Lùi" nextLabel="Tới"
        (pageChange)="onTableDataChange($event)"></pagination-controls>
    </div>

  </div>