
<!-- kk -->
<div class="container">
  <h1 class="text-center display-4">Danh sách kiểu bàn</h1>
  <p class="d-inline-flex gap-1">
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
      aria-expanded="false" aria-controls="collapseExample">
      Thêm kiểu bàn
    </button>
  </p>
  <p class="float-end">
    <select class="form-select" (change)="onTableSizeChange($event)">
      <option *ngFor="let size of tableSizes">
        {{size}}
      </option>
    </select>
  </p>
  <div class="collapse pb-3" id="collapseExample">
    <div class="card card-body">
      <form [formGroup]="tableTypeForm" (ngSubmit)="addTableType()">
        <div class="row g-3">
          <div class="col-md-6">
            <label for="tableTypeName" class="form-label">Tên kiểu bàn<span style="color: red;">(*)</span></label>
            <input type="text" formControlName="tableTypeName" class="form-control" placeholder="Nhập tên kiểu bàn..">
            <div
              *ngIf="tableTypeForm.get('tableTypeName')?.invalid && (tableTypeForm.get('tableTypeName')?.touched || isSubmitted )"
              class="text-danger">Tên kiểu bàn không được để trống.
            </div>
          </div>
          <div class="text-center">
            <button type="submit">Lưu</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <p class="d-inline-flex gap-1">
    <input type="text" (input)="changeSearchKeyWords($event)">
    <select (change)="changeFieldName($event)">
        <option value="">Chọn tên cột cần tìm</option>
        <option value="tableTypeId">Mã kiểu bàn</option>
        <option value="tableTypeName">Tên kiểu bàn</option>
    </select>
</p>
  <div class="table-responsive">
    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
      <thead>
        <tr>
          <th class="text-center">Mã kiễu bàn</th>
          <th class="text-center">Tên kiểu bàn</th>
          <th class="text-center">Chức năng</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let tableType of tableTypes | paginate: {itemsPerPage: tableSize, currentPage: page, totalItems: count}; let i = index">
          <td class="text-center text-muted">T{{tableType.tableTypeId}}</td>
          <td class="text-center">{{tableType.tableTypeName}}</td>
          <td class="text-center">
            <a type="button" class="btn btn-primary m-2" (click)="openTableTypeDetailModal(tableType)"><i
                class="fa-solid fa-pen-to-square"></i></a>
            <a type="button" class="btn btn-danger" (click)="deleteTableType(tableType)"><i
                class="fa-solid fa-trash"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center">
    <pagination-controls previousLabel="Trước" nextLabel="Sau"
      (pageChange)="onTableDataChange($event)"></pagination-controls>
  </div>
</div>