/* CSS cho input number */
input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    width: 50px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
}


/* checkout  */
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

button.learn-more {
    width: 12rem;
    height: auto;
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    box-shadow: 0 0 5px 1px white;
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #75a418;
    border-radius: 1.625rem;
}

button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: rgba(0, 0, 0, 0.895);
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
    box-shadow: 0 0 10px 2px white;
}

button:hover .button-text {
    transform: translate(-1.7rem, 0);
}

button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(8.7rem, 0);
}

button:active .circle .icon.arrow {
    transform: translate(9.5rem, 0);
    transition: all 0.3s;
}

button:active .circle {
    transform: scale(0.9);
    transition: all 0.3s;
    box-shadow: 0 0 5px 0.5px white;
}

button:hover .button-text {
    color: #fff;
}

button:active .button-text {
    color: rgba(255, 255, 255, 0.459);
}

.scroll-container {
    max-height: 450px;
    /* Adjust the max-height as needed */
    overflow-y: auto;
    border: 1px solid #ccc;
    /* Optional: Add a border for visual clarity */
}
.bill-container {
    display: block;
    padding: 35px;
    background-color: hsl(210, 50%, 90%);
    margin: 0;
}

.bill-header{
    background: #fff;
    margin: 0;
}

.bill-header h4{
    text-align: center;
    color: blue;
}

.bill-title{
    padding: 10px 20px;
}

.bill-body{
    justify-content: space-between;
    width: 100%;
    margin: 0;
    background-color: #f0f0f0;
    border: 2px dotted hsl(209, 59%, 66%);
}

.bill-info {
    display: flex;
    border-top: 2px dotted hsl(209, 59%, 66%);
}

.bill-price{
    padding: 20px;
    flex-basis: calc(60%);
    border-right: 2px dotted hsl(209, 59%, 66%);
}
.bill-transasion{
    padding: 20px;
    flex-basis: calc(40%);
}

.image{
    text-align: center;
}

.bill-footer{
    padding: 20px 0px;
    text-align: center;
}

    