<div class="modal-header">
  <h4 class="modal-title">Update</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="tableStatusForm" (ngSubmit)="updateTableStatus()">
    <div class="row">
      <div class="col-sm-6">
        <label for="exampleInputPassword1" class="form-label">Tên trạng thái</label>
        <div class="mb-3">
          <input type="text" class="form-control" formControlName="name" placeholder="Nhập tên trạng thái...">
          <div *ngIf="tableStatusForm.get('name')?.invalid && (tableStatusForm.get('name')?.touched || isSubmitted )"
            class="text-danger">Tên trạng thái không được để trống.
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-info">Save</button>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">
    Đóng
  </button>
</div>