<div aria-hidden="true" class="body">
    <div class="modal-dialog modal-dialog-centered modal-xl section-center mt-0 mb-0" >
        <div class="modal-content">
            <div class="modal-header">
                <div class="input-group row">
                    <h3 class="col-lg-7 mb-0">Lịch sử đặt bàn</h3>
                    <!-- <input class="col-lg-5 input-search" formControlName="searchKeyWord" placeholder="Search... yyyy-MM-dd HH:mm:ss"/> -->
                </div>
            </div>
            <div class="row">
                <div class="col">
                  <div class="card mb-grid">
                    <div class="table-responsive-md">
                      <table class="table table-actions table-hover mb-0">
                        <thead>
                          <tr>
                            <!-- <th>Id người dùng</th> -->
                            <!-- <th>Id bàn</th> -->
                            <th>Trạng thái</th>
                            <th>Id đặt bàn</th>
                            <th>Ngày giờ tới</th>
                            <th>Ngày giờ đi</th>
                            <th>Số lượng khách hàng</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let thisUserReservation of thisUserReservations">
                                <!-- <td>{{ thisUserReservation.userId }}</td> -->
                                <!-- <td>{{ thisUserReservation.restaurantTableId }}</td> -->
                                <td>{{ thisUserReservation.reservationStatusName }}</td>
                                <td>{{ thisUserReservation.reservationId }}</td>
                                <td>{{ thisUserReservation.reservationDate }}</td>
                                <td>{{ thisUserReservation.outTime }}</td>
                                <td>{{ thisUserReservation.numberOfGuests }}</td>
                                <td>
                                    <button class="btn btn-sm btn-primary">Đặt món</button>
                                </td>
                            </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
  </div>
  </div>