<form (ngSubmit)="submitForm()" enctype="multipart/form-data">
    <h1 style="text-align: center">Upload file to Drive</h1>
    <div id="select" class="select" style=" margin: auto; width: 60%; border-radius: 10px;">
      <select [(ngModel)]="selectedFolder" name="filePath" id="filePath">
        <option value="">Select folder drive:</option>
        <option *ngFor="let dto of DTO_FOLDER" [value]="dto.name">{{ dto.name }}</option>
      </select>
    </div>
    <br />
    <div class="input-file-container" style=" margin: auto; border-radius: 10px;">
      <input
        class="input-file"
        id="my-file"
        type="file"
        name="fileUpload"
        [(ngModel)]="fileUpload"
      />
      <label tabindex="0" for="my-file" class="input-file-trigger">Select a file...</label>
      <p class="file-return"></p>
    </div>
    <br />
    <div class="buttonHolder">
      <label for="radio">Public file?</label>
      <div id="radio">
        <input type="radio" id="yes" name="shared" value="true" [(ngModel)]="shared" checked />
        <label for="yes">Yes</label><br />
        <input type="radio" id="no" name="shared" value="false" [(ngModel)]="shared" />
        <label for="no">No</label><br />
        <input id="btnUpload" class="btn-upload" type="submit" value="Submit" />
      </div>
    </div>
    <h4 style="text-align: center;"><a href="/api/list/folders" target="_blank">Get Folder</a></h4>
  </form>
  