<!-- <p>restaurant-address works!</p> -->
<div class="row">
    <div class="col-md-5">
        <ul>
            <li style="margin-bottom: 30px; margin-top: 90px;">
                <a href="#" (click)="target($event, 10.799512, 106.641350)" style="color: black;">
                    <h5>Trường chinh</h5>
                    <i class="fas fa-map-marker-alt"></i> 360 Truong Chinh st, ward 13, Dis Tan Binh, HCM City <br>
                    <i class="fas fa-phone"></i> (028) 3812-5053 / (028) 3812-5063 <br>
                    <i class="fas fa-clock"></i> 8:00 AM - 10:00 PM (Thứ 2 - Chủ Nhật) <br>
                </a>
            </li>
            <li>
                <a href="#" (click)="target($event, 10.785162, 106.642029)" style="color: black;">
                    <h5>EC Âu Cơ</h5>
                    <i class="fas fa-map-marker-alt"></i> 650 Au cơ, Ward 10, Tan Binh Distric, HCMC <br>
                    <i class="fas fa-phone"></i> (028) 3861-6848 <br>
                    <i class="fas fa-clock"></i> 8:00 AM - 10:00 PM (Thứ 2 - Chủ Nhật) <br>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-7">
        <div style="text-align: center;">
            Trường Chinh <br>
            360 Truong Chinh st, ward 13, Dis Tan Binh, HCM City <br>
            (028) 3812-5053 / (028) 3812-5063 <br>
            8:30 AM - 9:00 PM (Thứ 2 - Chủ Nhật) <br>
        </div>
        <div class="full" id="map">

        </div>
    </div>
</div>