<div class="modal-header">
    <h4 class="modal-title">Ví Voucher của bạn</h4>
    <a class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </a>
</div>
<div class="scroll-container">
    <div class="row-container">
        <div class="row-body" *ngFor="let discount of discounts">
            <div class="discount-left">
                <div class="discount-code">
                    {{discount.discountCode}}
                </div>
                <div class="discount-limit">
                    Tối thiểu: {{formatAmount(discount.limitValue)}}
                </div>
                <div class="discount-date">
                    Từ: {{formatDate(discount.startDate)}}
                </div>
                <div class="discount-date">
                    Đến: {{formatDate(discount.endDate)}}
                </div>
            </div>
            <div class="discount-right">
                <div>
                    <b>Giảm giá</b>
                </div>
                <div class="discount-value">
                    {{discount.discountValue}}%
                </div>
            </div>
        </div>
    </div>
    
</div>
