<!-- <router-outlet *ngIf="dataLoaded; else loadingTemplate">

</router-outlet> -->
<!-- <ng-toast></ng-toast> -->
<!-- <app-date-time></app-date-time> -->
<!-- <ng-template #loadingTemplate>
    <div class="container">
        <div class="item item-1"></div>
        <div class="item item-2"></div>
        <div class="item item-3"></div>
        <div class="item item-4"></div>
    </div>
</ng-template> -->
<!-- <canvas #canvas style="border: 1px solid black;"></canvas> -->
<!-- 1866 -->
<!-- 924 -->

<div>Sơ đồ nhà hàng</div>
<div class="container mt-5">

    <ul class="nav nav-tabs" id="myTabs">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#floor1">Tầng 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#floor2">Tầng 2</a>
        </li>
    </ul>

    <div class="tab-content mt-2">
        <div class="tab-pane fade show active" id="floor1">
            <div
                style="position: relative; width: 1300px; max-height: 80vh; height: 80vh; min-height: 80vh; margin: 0; border: 1px solid black; display: flex; justify-content: center; align-items: center;">
                <!-- Các ô vuông con -->
                <div
                    style="width: auto; height: auto; background-color: #3498db; border: 1px solid #2980b9; box-sizing: border-box; position: absolute; bottom: 0px; left: 280px;">
                    Cầu thang lên tầng 2
                </div>
                <div
                    style="width: auto; height: auto; background-color: #3498db; border: 1px solid #2980b9; box-sizing: border-box; position: absolute; bottom: 0px; right: 260px;">
                    Nhà vệ sinh nữ
                </div>
                <div
                    style="width: auto; height: auto; background-color: #3498db; border: 1px solid #2980b9; box-sizing: border-box; position: absolute; bottom: 0vh; left: 0vh;">
                    Quầy thu ngân
                </div>
                <div
                    style="width: auto; height: auto; background-color: #3498db; border: 1px solid #2980b9; box-sizing: border-box; position: absolute; bottom: 0vh; right: 0vh;">
                    Nhà vệ sinh nam
                </div>
                <div
                    style="width: auto; height: auto; background-color: #e74c3c; border: 1px solid #c0392b; box-sizing: border-box; position: absolute; top: 250px; left: 50%; transform: translateX(-50%);">
                    Nhà bếp
                </div>
                <div
                    style="width: auto; height: auto; background-color: #e74c3c; border: 1px solid #c0392b; box-sizing: border-box; position: absolute; top: 200px; left: 40px; transform: translateX(-50%);">
                    Bàn 1
                </div>
                <div
                    style="width: auto; height: auto; box-sizing: border-box; position: absolute; bottom: -42px; left: 50%; transform: translateX(-50%);">
                    <div class="wrapper">
                        <div id="left-door" class="door">
                            <div class="shape"></div>
                            <div class="shape"></div>
                            <div id="left-knob" class="knob"></div>
                        </div>
                        <div id="right-door" class="door">
                            <div class="shape"></div>
                            <div class="shape"></div>
                            <div id="right-knob" class="knob"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="floor2">
            <div
                style="position: relative; width: 1300px; max-height: 80vh; height: 80vh; min-height: 80vh; margin: 0; border: 1px solid black; display: flex; justify-content: center; align-items: center;">
                <!-- Các ô vuông con -->
                <div
                    style="width: auto; height: auto; background-color: #3498db; border: 1px solid #2980b9; box-sizing: border-box; position: absolute; top: 3vh; left: 0vh;">
                    Cầu thang xuống tầng 1
                </div>
                <div
                    style="width: auto; height: auto; background-color: #3498db; border: 1px solid #2980b9; box-sizing: border-box; position: absolute; top: 3vh; right: 0vh;">
                    Nhà vệ sinh nữ
                </div>
                <div
                    style="width: auto; height: auto; background-color: #3498db; border: 1px solid #2980b9; box-sizing: border-box; position: absolute; bottom: 0vh; left: 0vh;">
                    Quầy thu ngân
                </div>
                <div
                    style="width: auto; height: auto; background-color: #3498db; border: 1px solid #2980b9; box-sizing: border-box; position: absolute; bottom: 0vh; right: 0vh;">
                    Nhà vệ sinh nam
                </div>
                <div
                    style="width: auto; height: auto; background-color: #e74c3c; border: 1px solid #c0392b; box-sizing: border-box; position: absolute; top: 40vh; left: 50%; transform: translateX(-50%);">
                    Nhà bếp
                </div>
                <!-- <div
                    style="width: auto; height: auto; box-sizing: border-box; position: absolute; bottom: -6%; left: 50%; transform: translateX(-50%);">
                    <div class="wrapper">
                        <div id="left-door" class="door">
                            <div class="shape"></div>
                            <div class="shape"></div>
                            <div id="left-knob" class="knob"></div>
                        </div>
                        <div id="right-door" class="door">
                            <div class="shape"></div>
                            <div class="shape"></div>
                            <div id="right-knob" class="knob"></div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>

<button (click)="target()">Target</button>
<div class="full" id="map">

</div>