<div class="container">
    <h1>Trạng thái bàn</h1>

    <form [formGroup]="tableStatusForm" (ngSubmit)="addTableStatus()">
        <div class="row">

            <div class="col-sm-6">
                <label class="form-label">Trạng thái</label>
                <div class="mb-3">
                    <select class="form-select" formControlName="statusName">
                        <option value="Chọn trạng thái bàn">Chọn trạng thái bàn</option>
                        <option value="Đang sử dụng">Đang sử dụng</option>
                        <option value="Đang đợi">Đang đợi</option>
                        <option value="Đang bảo dưỡng">Đang bảo dưỡng</option>
                        <option value="Đang không có ai đặt">Đang không có ai đặt</option>
                        <option value="Bàn chưa kín lịch">Bàn chưa kín lịcht</option>
                    </select>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-10">

                        <mat-checkbox (change)="onCheckboxChange($event)">Tên trạng thái tự định dạng</mat-checkbox>

                    </div>
                </div>

                <div class="mb-3">
                    <input type="text" class="form-control" formControlName="name"
                        [attr.disabled]="tableStatusForm.get('name')?.disabled ? true : null">
                </div>
            </div>

        </div>

        <button type="submit" class="btn btn-info">Save</button>
    </form>

    <div class="col-2">
        <select class="form-select" (change)="onTableSizeChange($event)">
            <option value>Page</option>
            <option *ngFor="let size of tableSizes">
                {{size}}
            </option>
        </select>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let tableStatus of tableStatuses | paginate: {itemsPerPage: tableSize, currentPage: page, totalItems: count}; let i = index">
                <td>{{tableStatus.tableStatusId}}</td>
                <td>{{tableStatus.tableStatusName}}</td>
                <td>
                    <button type="button" class="btn btn-outline-primary"
                        (click)="openTableStatusDetailModal(tableStatus)">Edit</button>
                    <button type="button" class="btn btn-outline-danger"
                        (click)="deleteTableStatus(tableStatus)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center">
        <pagination-controls previousLabel="Prev" nextLabel="Next"
            (pageChange)="onTableDataChange($event)"></pagination-controls>
    </div>
</div>