
<!-- <section class="showcase-area" id="showcase">
  <div class="showcase-container">
    <h1 class="main-title" id="home">Springleaf Restaurant</h1>
    <p>Nơi hòa quyện ẩm thực và tinh thần sáng tạo </p>
    <a routerLink="" class="btn btn-primary">ĐẾN NGAY</a>
  </div>
</section> -->


<!-- <section id="about">
  <div class="about-wrapper container">
    <div class="about-text">
      <p class="small">Về chúng tôi</p>
      <h2>Chúng tôi với sứ mệnh cao cả</h2>
      <p>
        Chào mừng bạn đến với SpringLeaf! Chúng tôi tự hào là điểm đến lý tưởng dành cho những người yêu thích ẩm
        thực độc đáo và trải nghiệm ẩm thực đẳng cấp. Với nền văn hóa ẩm thực đa dạng và đội ngũ đầu bếp chuyên nghiệp,
        chúng tôi cam kết mang đến cho khách hàng những trải nghiệm tuyệt vời nhất qua từng món ăn.!
      </p>
    </div>
    <div class="about-img">
      <img src="https://i.postimg.cc/mgpwzmx9/about-photo.jpg" alt="food" />
    </div>
  </div>
</section> -->

<div class="hero_area">
  <div class="bg-box">
      <img src="https://drive.google.com/uc?id=1bmqJDq9BYn_syamjM3GEy-LYA-_diBkd" alt="">
  </div>
  <!-- header section strats -->

  <!-- end header section -->
  <!-- slider section -->
  <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <div class="container ">
                      <div class="row">
                          <div class="col-md-7 col-lg-6 ">
                              <div class="detail-box">
                                  <h1>
                                      Fast Food Restaurant
                                  </h1>
                                  <p>
                                      Doloremque, itaque aperiam facilis rerum, commodi, temporibus sapiente ad
                                      mollitia laborum quam quisquam esse error unde. Tempora ex doloremque,
                                      labore, sunt repellat dolore, iste magni quos nihil ducimus libero ipsam.
                                  </p>
                                  <div class="btn-box">
                                      <a href="" class="btn1">
                                          Order Now
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="carousel-item ">
                  <div class="container ">
                      <div class="row">
                          <div class="col-md-7 col-lg-6 ">
                              <div class="detail-box">
                                  <h1>
                                      Fast Food Restaurant
                                  </h1>
                                  <p>
                                      Doloremque, itaque aperiam facilis rerum, commodi, temporibus sapiente ad
                                      mollitia laborum quam quisquam esse error unde. Tempora ex doloremque,
                                      labore, sunt repellat dolore, iste magni quos nihil ducimus libero ipsam.
                                  </p>
                                  <div class="btn-box">
                                      <a href="" class="btn1">
                                          Order Now
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="carousel-item">
                  <div class="container ">
                      <div class="row">
                          <div class="col-md-7 col-lg-6 ">
                              <div class="detail-box">
                                  <h1>
                                      Fast Food Restaurant
                                  </h1>
                                  <p>
                                      Doloremque, itaque aperiam facilis rerum, commodi, temporibus sapiente ad
                                      mollitia laborum quam quisquam esse error unde. Tempora ex doloremque,
                                      labore, sunt repellat dolore, iste magni quos nihil ducimus libero ipsam.
                                  </p>
                                  <div class="btn-box">
                                      <a href="" class="btn1">
                                          Order Now
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="container">
              <ol class="carousel-indicators">
                  <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                  <li data-target="#customCarousel1" data-slide-to="1"></li>
                  <li data-target="#customCarousel1" data-slide-to="2"></li>
              </ol>
          </div>
      </div>

  </section>
  <!-- end slider section -->
</div>