<!-- <div id="bannerCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://live.staticflickr.com/65535/53292419511_5be4ba9c6a_k.jpg" alt="Banner 1" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="https://live.staticflickr.com/65535/53292882800_84c88f0050_k.jpg" alt="Banner 2" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="https://live.staticflickr.com/65535/53292662743_04d8b854a1_k.jpg" alt="Banner 3" class="d-block w-100">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#bannerCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#bannerCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<section class="coupon">
  <div class="coupon-wrapper flex-vertical padding-1">
      <div class="top">
          <small>Valid Until Sunday 1/10/18</small>
      </div>
      <aside class="center flex-vertical">
          <span class="big">20% OFF</span>
          <span class="small">All wood stall signs</span>
      </aside>
      <div class="bottom">
          <strong class="promo-title">Promo Code</strong>
          <span class="promo-code">woodsigns20</span>
      </div>
  </div>
</section> -->

<section class="showcase-area" id="showcase">
  <div class="showcase-container">
    <h1 class="main-title" id="home">Springleaf Restaurant</h1>
    <p>Nơi hòa quyện ẩm thực và tinh thần sáng tạo </p>
    <a routerLink="" class="btn btn-primary">ĐẾN NGAY</a>
  </div>
</section>

<section id="about">
  <div class="about-wrapper container">
    <div class="about-text">
      <p class="small">Về chúng tôi</p>
      <h2>Chúng tôi với sứ mệnh cao cả</h2>
      <p>
        Chào mừng bạn đến với SpringLeaf! Chúng tôi tự hào là điểm đến lý tưởng dành cho những người yêu thích ẩm
        thực độc đáo và trải nghiệm ẩm thực đẳng cấp. Với nền văn hóa ẩm thực đa dạng và đội ngũ đầu bếp chuyên nghiệp,
        chúng tôi cam kết mang đến cho khách hàng những trải nghiệm tuyệt vời nhất qua từng món ăn.!
      </p>
    </div>
    <div class="about-img">
      <img src="https://i.postimg.cc/mgpwzmx9/about-photo.jpg" alt="food" />
    </div>
  </div>
</section>