<div class="container">
    <div class="modal-header">
        <h4 class="modal-title">Các bàn bạn đang sử dụng</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="row">
        <div class="col-lg-12 mt-3">

            <!-- Bảng hiển thị các đặt bàn -->
            <div class="card mt-3">
                <div class="card-body">
                    <table class="table table-borderless table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">Mã đặt bàn</th>
                                <th class="text-center">Mã bàn</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let reservation of reservationOfUser">
                                <td class="text-center text-muted">{{ reservation.reservationId }}</td>
                                <td class="text-center">{{ reservation.restaurantTableId }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-12 mt-3">
            <form [formGroup]="reservationForm">

                <div>
                    <button class="btn btn-primary" (click)="createMergeTableId()">Tạo mã gộp bàn: </button>
                    {{ mergeTableId }}
                    <button class="btn btn-primary" [disabled]="isResetDisabled" (click)="resetMergeTableId()">Đặt
                        lại</button>
                </div> <br>
                <div class="row">
                    <div class="col-lg-6 mb-3">
                        <label for="mergeTableIdSelect">Hoặc chọn mã gộp bàn muốn gộp vào</label>
                        <select formControlName="mergeTableId" (change)="onMergeTableIdChange($event)"
                            class="form-select" id="mergeTableIdSelect">
                            <option *ngFor="let mergeTableId of mergeTableIds" [value]="mergeTableId">
                                {{mergeTableId}}
                            </option>
                        </select>
                    </div>

                    <div class="col-lg-6 mb-3">
                        <label for="tableIdSelect">Chọn mã bàn muốn gộp vào</label>
                        <select formControlName="tableId" (change)="onTableIdChange($event)" class="form-select"
                            id="tableIdSelect">
                            <option *ngFor="let reservation of reservationsInUse"
                                [value]="reservation.restaurantTableId">
                                {{ reservation.restaurantTableId }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <p>Mã hiện đang chọn: {{ mergeTableId }}</p>
                </div>

                <div class="mb-3">
                    <button (click)="mergeTables()" class="btn btn-info">Gộp</button>
                </div>
            </form>
        </div>

        <button class="btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">
            Các bàn hiện đang gộp
        </button>
        <div class="collapse" id="collapseExample">
            <!-- Bảng hiển thị thông tin các bàn gộp -->
            <table class="table table-borderless table-striped table-hover mt-3">
                <!-- Đầu bảng -->
                <thead>
                    <tr>
                        <th class="text-center">Mã</th>
                        <th class="text-center">Mã gộp bàn</th>
                        <th class="text-center">Thời gian gộp</th>
                        <th class="text-center">Trạng thái</th>
                        <th class="text-center">Mã bàn</th>
                    </tr>
                </thead>
                <!-- Thân bảng -->
                <tbody>
                    <tr *ngFor="let mergeTableCache of mergeTablesCache">
                        <td class="text-center text-muted">{{ mergeTableCache.id }}</td>
                        <td class="text-center text-muted">{{ mergeTableCache.mergeTableId }}</td>
                        <td class="text-center text-muted">{{ mergeTableCache.mergeTime }}</td>
                        <!-- <td class="text-center text-muted">{{ mergeTableCache.status }}</td> -->
                        <td class="text-center">
                            <div [ngClass]="getClassForStatus(mergeTableCache.status)">
                                {{ mergeTableCache.status }}
                            </div>
                        </td>
                        <td class="text-center text-muted">{{ mergeTableCache.tableId }}</td>
                        
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>