<div class="row">

    <div class="col-lg-6">
        Các bàn mà bạn hiện đang sử dụng
        <table class="table table-border table-responsive">
            <thead>
                <th>Mã đặt bàn</th>
                <th>Id bàn</th>
            </thead>
            <tbody>
                <tr *ngFor="let reservation of reservationOfUser">
                    <td>{{ reservation.reservationId }}</td>
                    <td>{{ reservation.restaurantTableId }}</td>
                </tr>
            </tbody>
        </table> <br> <br>
        Các bàn hiện đang gộp
        <table table table-border table-responsive>
            <thead>
                <th>Id</th>
                <th>Mã gộp bàn</th>
                <th>Thời gian gộp</th>
                <th>Trạng thái</th>
                <th>Mã bàn</th>
            </thead>
            <tbody>
                <tr *ngFor="let mergeTableCache of mergeTablesCache">
                    <td>{{ mergeTableCache.id }}</td>
                    <td>{{ mergeTableCache.mergeTableId }}</td>
                    <td>{{ mergeTableCache.mergeTime }}</td>
                    <td>{{ mergeTableCache.status }}</td>
                    <td>{{ mergeTableCache.tableId }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-lg-6">
        <form [formGroup]="reservationForm">
            <button (click)="createMergeTableId()">Tạo id gộp bàn: </button> {{ mergeTableId }} <button
            [disabled]="isResetDisabled" (click)="resetMergeTableId()">Reset</button> <br> <br>

            Hoặc chọn id gộp bàn muốn gộp vào
            <select formControlName="mergeTableId" (change)="onMergeTableIdChange($event)">
                <option *ngFor="let mergeTableId of mergeTableIds" [value]="mergeTableId">
                    {{mergeTableId}}
                </option>
            </select> <br> <br>

            Chọn id bàn muốn gộp vào
            <select formControlName="tableId" (change)="onTableIdChange($event)">
                <option *ngFor="let reservation of reservationsInUse" value={{reservation.restaurantTableId}}>{{
                    reservation.restaurantTableId }}</option>
            </select> <br> <br>

            Id gộp bàn hiện đang chọn:
            {{ mergeTableId }}
            <br> <br>

            <button (click)="mergeTables()">Gộp</button>
            <!-- <button (click)="sendToAdmin()">Gửi đến quản lý</button> <br> <br> -->
            <div>Bàn muốn gộp</div>
            <table class="table table-border table-responsive">
                <thead>
                    <th>Table ID</th>
                    <th>Merge Table ID</th>
                    <th>Merge Time</th>
                </thead>
                <tbody>
                    <tr *ngFor="let tableToMerge of tablesToMerge">
                        <td>{{ tableToMerge.tableId }}</td>
                        <td>{{ tableToMerge.mergeTableId }}</td>
                        <td>{{ tableToMerge.mergeTime }}</td>
                        <td>{{ tableToMerge.status }}</td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>