/* .btn {
  width: 100%;
  padding: 5px 0px;
  border: 1px solid #75a418;
  border-radius: 5px;
  background-color: #75a418;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
} */

.table-container {
  padding-top: 0px;
  max-height: 300px; /* Đặt chiều cao tối đa của bảng */
  overflow-y: auto; /* Hiển thị thanh cuộn khi nội dung vượt quá chiều cao */
}

.sticky-header {
  position: sticky;
  top: 0;
  margin-top: 0px;
  background-color: #fff; /* Đặt màu nền cho header */
  z-index: 100; /* Đảm bảo header ở trên cùng */
}

/* Đặt chiều rộng tối đa của bảng để giữ header theo chiều ngang */
.table-container table {
  max-width: 100%;
}