
input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* CSS cho button */
.close {
  border-radius: 20px;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
button {
  border-radius: 20px;
  border: 1px solid #75a418;
  background-color: #75a418;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin-bottom: 10px;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

.address-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 2px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-select{
  width: 100%;
  padding: 8px;
  margin-bottom: 2px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
}

.address-column select option {
  background-color: #fff;
  color: #495057;
}

/* Tùy chỉnh hover state cho option */
.address-column select option:hover {
  background-color: #f8f9fa;
}

.select-column select {
  width: 100%;
  padding: 8px;
  margin-bottom: 2px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Tùy chỉnh option trong dropdown */
.select-column select option {
  background-color: #fff;
  color: #495057;
}

/* Tùy chỉnh hover state cho option */
.select-column select option:hover {
  background-color: #f8f9fa;
}


.file-input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* width: 130px; */
  height: 180px;
  cursor: pointer;
  z-index: 100;
}

.file-preview-background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 244px;
  height: 180px;
  background-color: #f7f7f7;
  border: 2px dashed #dfdfdf;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 3px;
  text-align: center;
  color: #bbb;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.file-preview {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 15px;
  left: 50px;
  border-radius: 65px;
  z-index: 10;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.4s ease-in;
}

.form-group__file {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 130px;
  height: 180px;
  justify-content: center;
  align-items: center;
}

.icheck{
  border: 1px solid #75a418;
  background-color: #75a418;
  border-radius: 20px;
  margin: 10px;
  transition: all 0.3s ease;
}

.icheck i{
  font-size: 22px;
  font-weight: bold;
  padding: 12px 20px;
  color: #fff;
}

.icheck i:hover {
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.7);
}

.icancel{
  border: 1px solid #b91b06; 
  background-color: #b91b06; 
  border-radius: 20px;
  transition: transform 80ms ease-in;
  margin: 10px;
}

.icancel i{
  font-size: 22px;
  font-weight: bold;
  padding: 12px 20px;
  color: #fff;
}