

<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="booking-cta">
                    <h1>Make Your Restaurant</h1>
                </div>
                <div class="booking-form">
                    <form>

                        <div class="col-md-12">
                            <div class="form-group">
                                <span class="form-label">Restaurant</span>
                                <select class="form-control">
                                    <option value>Chọn nhà hàng</option>
                                    <option *ngFor="let restaurant of restaurants" [value]="restaurant.restaurantId">{{
                                        restaurant.restaurantName }}</option>
                                </select>
                                <span class="select-arrow"></span>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>