<div class="modal-header">
  <h4 class="modal-title">Chi tiết</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="menuItemIngredientForm" (ngSubmit)="updateMenuItemIngredient()">
    <div class="row g-3">
      <div class="col-md-6">
        <label for="menuItemId" class="form-label">Menu Item ID<span style="color: red;">(*)</span></label>
        <select class="form-select" aria-label="Default select example" formControlName="menuItemId">
          <!-- Options for menu item ID -->
          <option value="">Chọn món</option>
          <!-- Add options dynamically -->
          <option *ngFor="let product of products" [value]="product.menuItemId"> {{
            product.name }}
          </option>
        </select>
        <div
          *ngIf="menuItemIngredientForm.get('menuItemId')?.invalid && (menuItemIngredientForm.get('menuItemId')?.touched || isSubmitted)"
          class="text-danger">Chưa chọn món.
        </div>
      </div>
      <div class="col-md-6">
        <label for="ingredientId" class="form-label">Nguyên liệu<span style="color: red;">(*)</span></label>
        <select class="form-select" aria-label="Default select example" formControlName="ingredientId">
          <option value="">Chọn nguyên liệu</option>
          <option *ngFor="let ingredient of ingredients" [value]="ingredient.ingredientId"> {{
            ingredient.name }}
          </option>
        </select>
        <div
          *ngIf="menuItemIngredientForm.get('ingredientId')?.invalid && (menuItemIngredientForm.get('ingredientId')?.touched || isSubmitted)"
          class="text-danger">Chưa chọn nguyên liệu.
        </div>
      </div>
      <div class="col-md-4">
        <label for="categoryId" class="form-label">Số lượng<span style="color: red;">(*)</span></label>
        <input type="number" class="form-control" formControlName="quantity" placeholder="Nhập số lượng ...">
        <div
          *ngIf="menuItemIngredientForm.get('quantity')?.invalid && (menuItemIngredientForm.get('quantity')?.touched || isSubmitted)"
          class="text-danger">
          <div *ngIf="menuItemIngredientForm.get('quantity')?.hasError('nonNegative')">
            Số không được âm
          </div>
          <div
            *ngIf="menuItemIngredientForm.get('quantity')?.hasError && !menuItemIngredientForm.get('quantity')?.hasError('nonNegative')">
            Chưa nhập tổng giá
          </div>
        </div>

      </div>
      <div class="text-center">
        <button type="submit">Lưu</button>
      </div>
    </div>
  </form>
</div>