


<div class="main-body">
    <div class="page-wrapper">
        <div class="page-header">
            <h5 class="page-title">Danh sách quyền người dùng</h5>
        </div>

        <div class="page-body">
            <p class="d-inline-flex gap-1">
                <button class="btn waves-effect waves-light btn-primary btn-outline-primary pb-2"
                    data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false"
                    aria-controls="collapseExample">
                    <i class="fa fa-user"></i>
                    Thêm người dùng
                </button>
            </p>
            <!-- HTML file -->
            <p class="float-end">
                <select class="form-select" (change)="onTableSizeChange($event)">
                    <option *ngFor="let size of tableSizes">
                        {{size}}
                    </option>
                </select>
            </p>
            <div class="collapse pb-3" id="collapseExample">
                <div class="card card-body">
                    <!-- <form [formGroup]="userForm">
                        <div class="row g-3">
                            <div class="col-md-4">
                                <label for="exampleInputPassword1" class="form-label">Họ và tên:<span
                                        style="color: red;">(*)</span></label>
                                <input type="text" formControlName="fullName" class="form-control"
                                    placeholder="Nhập họ và tên..." [attr.disabled]="compareInputWithCodeCache">
                                <div *ngIf="userForm.get('fullName')?.invalid && (userForm.get('fullName')?.touched || isSubmitted)"
                                    class="text-danger"> Không bỏ trống họ và tên.
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="username" class="form-label">Tên đăng nhập<span
                                        style="color: red;">(*)</span></label>
                                <input type="text" formControlName="username" class="form-control" id="username"
                                    placeholder="Nhập tên đăng nhập..." [attr.disabled]="compareInputWithCodeCache">
                                <div *ngIf="userForm.get('username')?.invalid && (userForm.get('username')?.touched || isSubmitted)"
                                    class="text-danger">
                                    Giá là bắt buộc.
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="email" class="form-label">Emai<span style="color: red;">(*)</span></label>
                                <input type="text" formControlName="email" class="form-control" id="email"
                                    placeholder="Nhập email..." [attr.disabled]="compareInputWithCodeCache">
                                <div *ngIf="userForm.get('email')?.invalid && (userForm.get('email')?.touched || isSubmitted)"
                                    class="text-danger">
                                    Emai là bắt buộc.
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="phone" class="form-label">Số điện thoại<span
                                        style="color: red;">(*)</span></label>
                                <input type="text" formControlName="phone" class="form-control" id="phone"
                                    placeholder="Nhập số điện thoại..." [attr.disabled]="compareInputWithCodeCache">
                                <div *ngIf="userForm.get('phone')?.invalid && (userForm.get('phone')?.touched || isSubmitted)"
                                    class="text-danger">
                                    Số điện thoại là bắt buộc.
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="password" class="form-label">Mật khẩu<span
                                        style="color: red;">(*)</span></label>
                                <input type="password" formControlName="password" class="form-control" id="password"
                                    placeholder="Nhập mật khẩu..." [attr.disabled]="compareInputWithCodeCache">
                                <div *ngIf="userForm.get('password')?.invalid && (userForm.get('password')?.touched || isSubmitted)"
                                    class="text-danger">
                                    Mật khẩu là bắt buộc.
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="repassword" class="form-label">Nhập lại mật khẩu<span
                                        style="color: red;">(*)</span></label>
                                <input type="password" formControlName="repassword" class="form-control" id="repassword"
                                    placeholder="Nhập lại mật khẩu..." [attr.disabled]="compareInputWithCodeCache">
                                <div *ngIf="userForm.get('repassword')?.invalid && (userForm.get('repassword')?.touched || isSubmitted)"
                                    class="text-danger">
                                    Mật khẩu là bắt buộc.
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="address" class="form-label">Địa chỉ<span
                                        style="color: red;">(*)</span></label>
                                <input type="text" formControlName="address" class="form-control" id="address"
                                    placeholder="Nhập mật khẩu..." [attr.disabled]="compareInputWithCodeCache">
                                <div *ngIf="userForm.get('address')?.invalid && (userForm.get('address')?.touched || isSubmitted)"
                                    class="text-danger">
                                    Mật khẩu là bắt buộc.
                                </div>
                            </div>
                        </div>
                    </form> -->
                </div>
            </div>
        </div>
        <!-- Page-body start -->
        <div class="page-body">
            <!-- Hover table card start -->
            <div class="card">
                <div class="card-header">
                    <h5>Danh sách người dùng</h5>
                </div>
                <div class="card-block table-border-style">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Ảnh</th>
                                    <th>Họ tên</th>
                                    <th>Tài khoản</th>
                                    <th>SĐT</th>
                                    <th>Email</th>
                                    <th>Trạng thái</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="row">
                                        
                                    </td>
                                    <td ></td>
                                    <td ></td>
                                    <td ></td>
                                    <td ></td>
                                    
                                    <td style="text-align: center;">
                                        <i class="fa fa fa-wrench"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <pagination-controls previousLabel="Lùi" nextLabel="Tới"
                (pageChange)="onTableDataChange($event)"></pagination-controls>
        </div>
        <!-- Page-body end -->
    </div>
</div>