<div class="main-body">
    <div class="page-wrapper">
        <div class="page-header">
            <h5 class="page-title">Danh sách quyền người dùng</h5>
        </div>

        <div class="page-body">
            <p class="d-inline-flex gap-1">
                <button class="btn waves-effect waves-light btn-primary btn-outline-primary pb-2"
                    data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false"
                    aria-controls="collapseExample">
                    <i class="fa fa-user"></i>
                    Thêm quyền người dùng
                </button>
            </p>
            <!-- HTML file -->
            <p class="float-end">
                <select class="form-select" (change)="onTableSizeChange($event)">
                    <option *ngFor="let size of tableSizes">
                        {{size}}
                    </option>
                </select>
            </p>
            <div class="collapse pb-3" id="collapseExample">
                <div class="card card-body">
                    <form [formGroup]="userRoleForm" (ngSubmit) = "updateUserRole()">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label for="userId" class="form-label">Người dùng<span
                                        style="color: red;">(*)</span></label>
                                <select class="form-select" formControlName="userId" id="userId">
                                    <option value="">--Chọn người dùng-- </option>
                                    <option *ngFor="let user of users" [value]="user.userId"> {{
                                        user.fullName }}
                                    </option>
                                </select>
                                <div *ngIf="userRoleForm.get('userId')?.invalid && (userRoleForm.get('userId')?.touched || isSubmitted)"
                                    class="text-danger">
                                    Người dùng là bắt buộc
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="roleId" class="form-label">Quyền<span style="color: red;">(*)</span></label>
                                <select class="form-select" formControlName="roleId" id="roleId">
                                    <option value="">--Chọn người dùng-- </option>
                                    <option *ngFor="let role of roles" [value]="role.roleId"> {{
                                        role.roleName }}
                                    </option>
                                </select>
                                <div *ngIf="userRoleForm.get('roleId')?.invalid && (userRoleForm.get('roleId')?.touched || isSubmitted)"
                                    class="text-danger">
                                    Quyền là bắt buộc
                                </div>
                            </div>
                            <div class="submit-btn">
                                <button class="btn waves-effect waves-light btn-success btn-outline-success pb-2">
                                    <i class="fa fa-check"></i>
                                    Thêm
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Page-body start -->
        <div class="page-body">
            <!-- Hover table card start -->
            <div class="card">
                <div class="card-header">
                    <h5>Danh sách người dùng</h5>
                </div>
                <div class="card-block table-border-style">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Ảnh</th>
                                    <th>Họ tên</th>
                                    <th>Tài khoản</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let user of users | paginate: {itemsPerPage: tableSize, currentPage: page, totalItems: count}; let i = index">
                                    <td scope="row">
                                        <img class="d-flex align-self-center img-radius" alt="#"
                                            [src]="'http://localhost:8080/public/getImage/' + user.image"
                                            style="width: 50px;">
                                    </td>
                                    <td style="text-align: center;">{{user.fullName}}</td>
                                    <td style="text-align: center;">{{user.username}}</td>
                                    <td style="text-align: center;">
                                        <i class="fa fa fa-wrench" (click)="openProductDetailModal(user)"
                                            data-bs-toggle="collapse" data-bs-target="#collapseExample"
                                            aria-expanded="false" aria-controls="collapseExample"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <pagination-controls previousLabel="Lùi" nextLabel="Tới"
                (pageChange)="onTableDataChange($event)"></pagination-controls>
        </div>
        <!-- Page-body end -->
    </div>
</div>