<div class="modal-header">
    <h4 class="modal-title">Thông tin bàn</h4>
</div>
<div class="modal-body">
    <div class="scroll-container">
        <div *ngFor="let reservation of reservations" class="reservation-item">
            Giờ tới {{ reservation.reservationDate | date: 'EEEE, MMMM d, y, h:mm:ss a' }} <br>
            Giờ cút {{ reservation.outTime }}
        </div>
    </div>
    <form [formGroup]="reservationForm">
        <label for="selectedDate">Select date: </label>
        <input type="date" id="selectedDate" formControlName="selectedDate" />
        <label for="selectedTime">Select time: </label>
        <input type="time" id="selectedTime" formControlName="selectedTime" />
    </form>
    <button (click)="bookingTable()">Đặt bàn ngay</button>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">
        Đóng
    </button>
</div>