<div class="modal-header">
  <h4 class="modal-title">Chi tiết</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="productForm" (ngSubmit)="updateProduct()">
    <div class="row g-3">
      <div class="col-md-4">
        <label for="exampleInputPassword1" class="form-label">Tên sản phẩm<span style="color: red;">(*)</span></label>
        <input type="text" formControlName="name" class="form-control" placeholder="Nhập tên sản phẩm...">
        <div *ngIf="productForm.get('name')?.invalid && (productForm.get('name')?.touched || isSubmitted)"
          class="text-danger"> Không bỏ trống tên món.
        </div>
      </div>
      <div class="col-md-4">
        <label for="unitPrice" class="form-label">Giá<span style="color: red;">(*)</span></label>
        <input type="number" formControlName="unitPrice" class="form-control" id="unitPrice" placeholder="Nhập giá">
        <div *ngIf="productForm.get('unitPrice')?.invalid && (productForm.get('unitPrice')?.touched || isSubmitted)"
          class="text-danger">
          Giá là bắt buộc.
        </div>
      </div>

      <div class="col-md-4">
        <label for="categoryId" class="form-label">Loại<span style="color: red;">(*)</span></label>
        <select class="form-select" formControlName="categoryId" id="categoryId">
          <option value="">--Chọn loại-- </option>
          <option *ngFor="let category of categories" [value]="category.categoryId"> {{ category.name }}</option>
        </select>
        <div *ngIf="productForm.get('categoryId')?.invalid && (productForm.get('categoryId')?.touched || isSubmitted)"
          class="text-danger">
          Loại là bắt buộc.
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group__file">
          <label for="imageUpload" class="file-label">Chọn ảnh<span style="color: red;">(*)</span></label>
          <div class="file-wrapper">
            <input type="file" name="imageUpload" #imageUpload formControlName="imageUrl" class="file-input" />
            <div class="file-preview-background">Upload Image</div>
            <img src="" #imagePreview width="200px" class="file-preview" />
          </div>
        </div>
        <div *ngIf="productForm.get('imageUrl')?.invalid && (productForm.get('imageUrl')?.touched || isSubmitted)"
          class="text-danger">
          Vui lòng chọn ảnh.
        </div>
      </div>
      <div class="col-md-4">
        <label for="exampleInputPassword1" class="form-label">Mô tả</label>
        <textarea class="form-control" formControlName="description" id="" cols="10" rows="10"
          placeholder="Nhập mô tả..."></textarea>
      </div>
      <div class="col-md-4">
        <label>Đang bán <span style="color: red;">(*)</span> </label><br>
        <input id="categoryActiveYes" formControlName="status" type="radio" [value]="true"
          [checked]="productForm.get('status')?.value === true"> Có
        <input id="categoryActiveNo" formControlName="status" type="radio" [value]="false"
          [checked]="productForm.get('status')?.value === false"> Không
      </div>
      <div class="text-center">
        <button type="submit">Thay đổi</button>
      </div>
    </div>
  </form>
</div>