<div class="container" #container id="container">
    <div class="form-container sign-in-container" *ngIf="selected === 'password'">
        <form (submit)="changePassword()" [formGroup]="changePasswordForm">
            <h3 style="padding-top: 10px;">Đổi mật khẩu</h3>
            <input type="password" placeholder="Enter password" formControlName="oldPassword" [(ngModel)]="password"
                class="form-control" *ngIf="!isCheckPassword" />
            <input type="password" placeholder="Enter New Password" formControlName="newPassword" class="form-control"
                *ngIf="isCheckPassword" />
            <i *ngIf="changePasswordForm.get('newPassword')?.getError('message')" style="color: red;">
                {{ changePasswordForm.get('newPassword')?.getError('message') }}
            </i>
            <input type="password" placeholder="Config New Password" formControlName="reNewPassword"
                class="form-control" *ngIf="isCheckPassword" /> <br>
            <button class="btn btn-primary" type="submit" (click)="configPassword()" *ngIf="!isCheckPassword">Xác
                nhận</button>
            <button type="submit" #signIn *ngIf="isCheckPassword" class="btn btn-primary">Đồng ý</button>
        </form>
    </div>

    <div class="form-container sign-in-container" *ngIf="selected === 'forgot-password'">
        <form (submit)="forgotPassword()" [formGroup]="forgotPasswordForm">
            <h3 style="padding-top: 10px;">Quên mật khẩu</h3>
            <div class="mb-3">
                <input type="text" placeholder="Nhập Email" formControlName="email" class="form-control" />
            </div>
            <div class="row mb-3">
                <div class="col-lg-12 d-flex align-items-center">
                    <input class="col-8 form-control" type="text" id="code" placeholder="Nhập Mã" formControlName="code"
                        name="code" [(ngModel)]="code" />
                    <button class="col-4 btn btn-primary" (click)="getAccessCode()" *ngIf="codeCache === null">Lấy
                        mã</button>
                    <button class="col-4 btn btn-success" (click)="compareInputWithCodeCache()"
                        *ngIf="codeCache !== null">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="mb-3">
                <input type="password" placeholder="Nhập Mật khẩu mới" formControlName="password"
                    class="form-control" />
            </div>
            <div class="mb-3">
                <input type="password" placeholder="Xác nhận Mật khẩu mới" formControlName="repassword"
                    class="form-control" />
            </div>
            <button class="btn btn-primary" type="submit" #signIn>Đồng ý</button>
        </form>
    </div>


    <div *ngIf="selected === 'restaurant'">

        <form [formGroup]="chooseRestaurantFrom" (ngSubmit)="onSubmit()">
            <h1>Chọn nhà hàng</h1>
            <div class="select-column">
                <select formControlName="selectedRestaurant" class="select">
                    <option [ngValue]="null">Vui lòng chọn nhà hàng</option>
                    <option [disabled]="restaurant.statusId === 'Không hoạt động'"
                        *ngFor="let restaurant of restaurants" [ngValue]="restaurant.restaurantId">
                        {{ restaurant.restaurantName }} {{ restaurant.statusId === 'Không hoạt động' ? '(Đang bảo trì)'
                        : ''}}
                </select>
                <div *ngIf="chooseRestaurantFrom.get('selectedRestaurant')?.invalid && (chooseRestaurantFrom.get('selectedRestaurant')?.touched )"
                    class="text-danger">
                    Vui lòng chọn một chi nhánh
                </div>
            </div>
            <button type="submit">Đồng ý</button>
        </form>
    </div>

</div>