<div class="container" #container id="container">
    <div class="form-container sign-in-container" *ngIf="selected === 'password'">
        <form (submit)="changePassword()" [formGroup]="changePasswordForm">
            <h1>Đổi mật khẩu</h1>
            <input type="password"  placeholder="Enter password" formControlName="oldPassword"
            [(ngModel)]="password" *ngIf="!isCheckPassword"/>
            <input type="password"  placeholder="Enter New Password" formControlName="newPassword" *ngIf="isCheckPassword" />
            <input type="password"  placeholder="Config New Password" formControlName="reNewPassword" *ngIf="isCheckPassword" />
            <a (click)="configPassword()" *ngIf="!isCheckPassword">Xác nhận</a>
            <button type="submit" #signIn *ngIf="isCheckPassword">Đồng ý</button>
        </form>
    </div>
      
    <div class="form-container sign-in-container" *ngIf="selected === 'forgot-password'">
        <form (submit)="forgotPassword()" [formGroup]="forgotPasswordForm">
            <h1>Quên mật khẩu</h1>
            <input type="text" placeholder="Enter Email" formControlName="email" />
            <div class="row">
                <div class="col-lg-12 d-flex ">
                    <input class="col-9 custom" type="text" id="code" placeholder="Enter Code" formControlName="code"
                        name="code" [(ngModel)]="code" />
                    <a class="col-3" (click)="getAccessCode()" *ngIf="codeCache === null">Get</a>
                    <a class="col-3" (click)="compareInputWithCodeCache()" *ngIf="codeCache !== null">Config</a>
                </div>
            </div>
            <input type="password" placeholder="Enter New Password" formControlName="password" />
            <input type="password" placeholder="Config New Password" formControlName="repassword" />
            <button type="submit" #signIn>Đồng ý</button>
        </form>
    </div>
</div>
