<div class="container" #container id="container">
    <div class="form-container sign-in-container" *ngIf="selected === 'password'">
        <form (submit)="changePassword()" [formGroup]="changePasswordForm">
            <h1>Đổi mật khẩu</h1>
            <input type="password"  placeholder="Enter password" formControlName="oldPassword"
            [(ngModel)]="password" />
            <input type="password"  placeholder="Enter New Password" formControlName="newPassword" *ngIf="isCheckPassword" />
            <input type="password"  placeholder="Config New Password" formControlName="reNewPassword" *ngIf="isCheckPassword" />
            <a (click)="configPassword()">Xác nhận</a>
            <button type="submit" #signIn *ngIf="isCheckPassword">Đồng ý</button>
        </form>
    </div>
      
    <div class="form-container sign-in-container" *ngIf="selected === 'forgot-password'">
        <form (submit)="forgotPassword()" [formGroup]="forgotPasswordForm">
            <h1>Quên mật khẩu</h1>
            <input type="text" placeholder="Enter Email" formControlName="email" />
            <input type="text" placeholder="Enter code" formControlName="code" />
            <input type="password" placeholder="Enter Username" formControlName="username" />
            <input type="password" placeholder="Enter Password" formControlName="password" />
            <button type="submit" #signIn>Đồng ý</button>
            
        </form>
    </div>
</div>
