
<div class="container">
  <h1 class="text-center display-4">Danh sách chi nhánh</h1>
  <p class="d-inline-flex gap-1">
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
      aria-expanded="false" aria-controls="collapseExample">
      Thêm chi nhánh
    </button>
  </p>
  <p class="float-end">
    <select class="form-select" (change)="onTableSizeChange($event)">
      <option *ngFor="let size of tableSizes">
        {{size}}
      </option>
    </select>
  </p>
  <div class="collapse pb-3" id="collapseExample">
    <div class="card card-body">
      <form [formGroup]="inventoryBranchForm" (ngSubmit)="addInventoryBranch()">
        <div class="row g-3">
          <div class="col-md-4">
            <label for="supplierId" class="form-label">Tên bàn<span style="color: red;">(*)</span></label>
            <select class="form-select" aria-label="Default select example" formControlName="supplierId">
              <option value="">Chọn nhà sản xuất</option>
              <option *ngFor="let supplier of suppliers" [value]="supplier.supplierId"> {{ supplier.supplierName }}
              </option>
            </select>
            <div
              *ngIf="inventoryBranchForm.get('supplierId')?.invalid && (inventoryBranchForm.get('supplierId')?.touched || isSubmitted)"
              class="text-danger"> Không bỏ trống nhà sản xuất.
            </div>
          </div>

          <div class="col-md-4">
            <label for="restaurantId" class="form-label">Nhà hàng<span style="color: red;">(*)</span></label>
            <select class="form-select" aria-label="Default select example" formControlName="restaurantId">
              <option value>Chọn nhà hàng</option>
              <option *ngFor="let restaurant of restaurants" [value]="restaurant.restaurantId"> {{
                restaurant.restaurantName
                }}
              </option>
            </select>
            <div
              *ngIf="inventoryBranchForm.get('restaurantId')?.invalid && (inventoryBranchForm.get('restaurantId')?.touched || isSubmitted)"
              class="text-danger">
              Không bỏ trống nhà hàng.
            </div>
          </div>

          <div class="col-md-4">
            <label for="ingredientId" class="form-label">Kiểu bàn<span style="color: red;">(*)</span></label>
            <select class="form-select" aria-label="Default select example" formControlName="ingredientId">
              <option value="">Chọn nguyên liệu</option>
              <option *ngFor="let ing of ingredients " [value]="ing.ingredientId">{{ ing.name }}</option>
            </select>
            <div
              *ngIf="inventoryBranchForm.get('ingredientId')?.invalid && (inventoryBranchForm.get('ingredientId')?.touched || isSubmitted)"
              class="text-danger">
              Không bỏ trống nguyên liệu.
            </div>
          </div>
          <div class="text-center">
            <button type="submit">Thêm</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <p class="d-inline-flex gap-1 text-center">
    <label>Tìm bất cứ thứ gì bạn nghĩ là có thể...</label>
    <input type="text" (input)="changeSearchKeyWords($event)">
    <select (change)="changeFieldName($event)">
      <option value="">Chọn tên cột cần tìm</option>
      <option value="inventoryBranchId">Mã chi nhánh kho</option>
      <option value="ingredientId">Nguyên liệu</option>
      <option value="supplierId">Nhà sản xuất</option>
      <option value="restaurantId">Nhà hàng</option>
    </select>
  </p>
  <div class="table-responsive">
    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
      <thead>
        <tr>
          <th class="text-center">Mã Chi nhánh kho</th>
          <th class="text-center">Nguyên liệu + (Mã)</th>
          <th class="text-center">Nhà sản xuất + (Mã)</th>
          <th class="text-center">Nhà hàng + (Mã)</th>
          <th class="text-center">Chức năng</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let inventoryBranch of inventoryBranches| paginate: {itemsPerPage: tableSize, currentPage: page, totalItems: count}; let i = index">
          <td class="text-center text-muted">R{{inventoryBranch.inventoryBranchId}}</td>
          <td class="text-center">{{ getIngredientById(inventoryBranch.ingredientId)?.name }} ({{ inventoryBranch.ingredientId }})</td>
          <td class="text-center text-muted">{{ getSupplierById(inventoryBranch.supplierId)?.supplierName }} ({{ inventoryBranch.supplierId }})</td>
          <td class="text-center text-muted">{{ getRestaurantById(inventoryBranch.restaurantId)?.restaurantName }} ({{ inventoryBranch.restaurantId }})</td>

          <td class="text-center">
            <a type="button" id="PopoverCustomT-1" class="btn btn-primary btn-sm m-2"
              (click)="openInventoryBranchDetailModal(inventoryBranch)"><i class="fa-solid fa-pen-to-square"></i></a>
            <a type="button" id="PopoverCustomT-1" class="btn btn-danger btn-sm"
              (click)="deleteInventoryBranch(inventoryBranch)"><i class="fa-solid fa-trash"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center">
    <pagination-controls previousLabel="Lùi" nextLabel="Tới"
      (pageChange)="onTableDataChange($event)"></pagination-controls>
  </div>

</div>