<div class="container">
  <form [formGroup]="inventoryBranchForm" (ngSubmit)="addInventoryBranch()">
    <div class="row">
      <div class="col-lg-3">
        <label *ngIf="!suppliers || suppliers.length >0" for="exampleInputPassword1" class="form-label">Nhà sản
          xuất</label>
        <a style="color: red;" *ngIf="!suppliers || suppliers.length === 0" class="nav-link"
          routerLink="/admin/suppliers">Thêm nhà sản xuất</a>
        <div class="mb-3">
          <select class="form-select" aria-label="Default select example" formControlName="supplierId">
            <option value="">Chọn nhà sản xuất</option>
            <option *ngFor="let supplier of suppliers" [value]="supplier.supplierId"> {{ supplier.supplierName }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-lg-3">
        <label *ngIf="!restaurants || restaurants.length >0" for="exampleInputPassword1" class="form-label">Nhà
          hàng</label>
        <a style="color: red;" *ngIf="!restaurants || restaurants.length === 0" class="nav-link"
          routerLink="/admin/restaurants">Thêm nhà hàng</a>
        <div class="mb-3">
          <select class="form-select" aria-label="Default select example" formControlName="restaurantId">
            <option value="">Chọn nhà hàng</option>
            <option *ngFor="let restaurant of restaurants " [value]="restaurant.restaurantId">{{
              restaurant.restaurantName
              }}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="mb-3">
          <label *ngIf="!ingredients || ingredients.length >0" for="exampleInputPassword1" class="form-label">Nguyên
            liệu</label>
          <a style="color: red;" *ngIf="!ingredients || ingredients.length === 0" class="nav-link"
            routerLink="/admin/ingredients">Thêm nguyên liệu</a>
          <div class="mb-3">
            <select class="form-select" aria-label="Default select example" formControlName="ingredientId">
              <option value="">Chọn nguyên liệu</option>
              <option *ngFor="let ing of ingredients " [value]="ing.ingredientId">{{ ing.name }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
  <div class="col-2">
    <select class="form-select" (change)="onTableSizeChange($event)">
      <option value="">Page</option>
      <option *ngFor="let size of tableSizes">
        {{size}}
      </option>
    </select>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Ingredient</th>
        <th scope="col">Supplier</th>
        <th scope="col">Restaurant</th>
        <th scope="col">Chức năng</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let inventoryBranch of inventoryBranches">
        <td>{{inventoryBranch.inventoryBranchId}}</td>
        <td>{{ (getIngredientById(inventoryBranch.ingredientId) | async)?.name }}</td>
        <td>{{ (getSupplierById(inventoryBranch.supplierId) | async)?.supplierName }}</td>
        <td>{{ (getRestaurantById(inventoryBranch.restaurantId) | async)?.restaurantName }}</td>
        <td><button type="button" class="btn btn-outline-primary"
            (click)="openInventoryBranchDetailModal(inventoryBranch)">Edit</button>
          <button type="button" class="btn btn-outline-danger"
            (click)="deleteInventoryBranch(inventoryBranch)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-center">
    <pagination-controls previousLabel="Prev" nextLabel="Next"
      (pageChange)="onTableDataChange($event)"></pagination-controls>
  </div>
</div>