<div class="container">
    <div class="modal-header">
        <h4 class="modal-title">Chi tiết</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="inventoryForm" (ngSubmit)="updateInventory()">
        <div class="row g-3">
            <div class="col-md-6">
                <label for="supplierId" class="form-label">Nhà sản xuất<span style="color: red;">(*)</span></label>
                <select class="form-select" aria-label="Default select example" formControlName="supplierId">
                    <option value="">Chọn nhà sản xuất</option>
                    <option *ngFor="let supplier of suppliers" [value]="supplier.supplierId"> {{
                        supplier.supplierName }}
                    </option>
                </select>
                <div *ngIf="inventoryForm.get('supplierId')?.invalid && (inventoryForm.get('supplierId')?.touched || isSubmitted)"
                    class="text-danger"> Không bỏ trống nhà sản xuất.
                </div>
            </div>
            <div class="col-md-6">
                <label for="ingredientId" class="form-label">Nguyên liệu<span style="color: red;">(*)</span></label>
                <select class="form-select" aria-label="Default select example" formControlName="ingredientId">
                    <option value="">Chọn nguyên liệu</option>
                    <option *ngFor="let ing of ingredients " [value]="ing.ingredientId">{{ ing.name }}</option>
                </select>
                <div *ngIf="inventoryForm.get('ingredientId')?.invalid && (inventoryForm.get('ingredientId')?.touched || isSubmitted)"
                    class="text-danger"> Không bỏ trống nguyên liệu.
                </div>
            </div>
            <div class="text-center">
                <button type="submit">Lưu</button>
            </div>
        </div>
    </form>
</div>