<div class="container">
  <div class="row">
    <div class="col-md-6 col-xl-4">
      <div class="card mb-3 widget-content bg-midnight-bloom">
        <div class="widget-content-wrapper text-white">
          <div class="widget-content-left">
            <div class="widget-heading">Tổng nguyên liệu </div>
            <div class="widget-subheading"></div>
          </div>
          <div class="widget-content-right">
            <div class="widget-numbers text-white"><span> 4</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div class="card mb-3 widget-content bg-arielle-smile">
        <div class="widget-content-wrapper text-white">
          <div class="widget-content-left">
            <div class="widget-heading">Tổng đơn</div>
            <div class="widget-subheading"></div>
          </div>
          <div class="widget-content-right">
            <div class="widget-numbers text-white"><span> {{ statisticsData }}</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div class="card mb-3 widget-content bg-grow-early">
        <div class="widget-content-wrapper text-white">
          <div class="widget-content-left">
            <div class="widget-heading">Tổng doanh thu</div>
            <div class="widget-subheading"></div>
          </div>
          <div class="widget-content-right">
            <div class="widget-numbers text-white"><span>{{ formatAmount(totalRevenue!) }}</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-xl-none d-lg-block col-md-6 col-xl-4">
      <div class="card mb-3 widget-content bg-premium-dark">
        <div class="widget-content-wrapper text-white">
          <div class="widget-content-left">
            <div class="widget-heading">Products Sold</div>
            <div class="widget-subheading">Revenue streams</div>
          </div>
          <div class="widget-content-right">
            <div class="widget-numbers text-warning"><span>$14M</span></div>
          </div>
        </div>
      </div>
    </div>


    <!-- <div class="row">
      <div class="col-md-6 col-lg-6">
        <div class="mb-3 card">
          <div class="card-header-tab card-header-tab-animation card-header">
            <div class="card-header-title">
              <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
              Tổng doanh thhu
            </div>
            <ul class="nav">
              <li class="nav-item"><a href="javascript:void(0);" class="active nav-link">Last</a></li>
              <li class="nav-item"><a href="javascript:void(0);" class="nav-link second-tab-toggle">Current</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane fade show active" id="tabs-eg-77">
                <div class="card mb-3 widget-chart widget-chart2 text-left w-100">
                  <div class="widget-chat-wrapper-outer">
                    <div class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0">
                      <canvas id="canvas"></canvas>
                    </div>
                  </div>
                </div>
                <h6 class="text-muted text-uppercase font-size-md opacity-5 font-weight-normal">Top Authors</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-6">
          <div class="mb-3 card">
            <div class="card-header-tab card-header-tab-animation card-header">
              <div class="card-header-title">
                <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
                Sales Report
              </div>
              <ul class="nav">
                <li class="nav-item"><a href="javascript:void(0);" class="active nav-link">Last</a></li>
                <li class="nav-item"><a href="javascript:void(0);" class="nav-link second-tab-toggle">Current</a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div class="tab-content">
                <div class="tab-pane fade show active" id="tabs-eg-77">
                  <div class="card mb-3 widget-chart widget-chart2 text-left w-100">
                    <div class="widget-chat-wrapper-outer">
                      <div class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0">
                        <canvas id="canvas"></canvas>
                      </div>
                    </div>
                  </div>
                  <h6 class="text-muted text-uppercase font-size-md opacity-5 font-weight-normal">Top Authors</h6>

                </div>
              </div>
            </div>
          </div>
        </div> -->


  </div>
  <div>
    <div>
      <h3>Kiểm tra doanh thu và hóa đơn</h3>
      <label for="startDate">Ngày bắt đầu:</label>
      <input type="date" id="startDate" [(ngModel)]="startDate">

      <label for="endDate">Ngày kết thúc:</label>
      <input type="date" id="endDate" [(ngModel)]="endDate">

      <button (click)="getRevenueAndBills()">Kiểm tra</button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Khách </th>
          <th scope="col">Ngày </th>
          <th scope="col">Tổng tiền</th>
          <th scope="col">Phương thức thanh toán</th>
          <th scope="col">Địa chỉ</th>
          <th scope="col">Số tài khoản</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bill of billsData">
          <td> {{ bill.billId }}</td>
          <td>{{bill.userId}}</td>
          <td>{{bill.billTime}}</td>
          <td>{{bill.totalAmount}}</td>
          <td>{{bill.paymentMethod}}</td>
          <td>{{bill.address}}</td>
          <td>{{bill.bankNumber}}</td>

        </tr>
      </tbody>
    </table>
    <div *ngFor="let item of revenueData">
      <!-- Hiển thị thông tin từ API về doanh thu -->
      {{ item }}
    </div>

    <div>
      <label for="dateInput">Chọn ngày:</label>
      <input class=" mr-2" type="date" id="dateInput" [(ngModel)]="selectedDate">

      <button class="btn btn-primary" (click)="getReservations()">Kiểm tra</button>
    </div>

    <div *ngIf="reservations.length > 0">
      <h2>Các bàn được đặt trong ngày {{ selectedDate }}</h2>
      <ul>

        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
          <thead>
            <tr>
              <th class="text-center">Mã đặt bàn</th>
              <th class="text-center">Mã bàn</th>
              <th class="text-center">Khách</th>
              <th class="text-center">Ngày tới</th>
              <th class="text-center">Giờ tới</th>
              <th class="text-center">Giờ đi</th>
              <th class="text-center">Trạng thái</th>
              <th class="text-center">Số lượng khách hàng</th>
              <th class="text-center">Thời gian sử dụng còn lại</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let reservation of reservations">
              <td class="text-center text-muted">RS{{ reservation.reservationId }}</td>
              <td class="text-center text-muted">{{ reservation.restaurantTableId }}</td>
              <td class="text-center text-muted">{{ reservation.userId }}</td>
              <td class="text-center text-muted">{{ reservation.reservationDate | date: 'dd-MM-yyyy' }}</td>
              <td class="text-center text-muted">{{ reservation.reservationDate | date: 'HH:mm:ss' }}</td>
              <td class="text-center text-muted">{{ reservation.outTime | date: 'HH:mm:ss' }}</td>
              <td class="text-center text-muted">{{ reservation.reservationStatusName }}</td>
              <td class="text-center text-muted">{{ reservation.numberOfGuests }}</td>
              <td class="text-center text-muted">{{ (hoursUse(reservation)) }}</td>
              <td class="text-center">
              </td>
            </tr>

          </tbody>
        </table>
      </ul>
    </div>
    <h2>Số lượt mua sản phẩm</h2>
    <ul>
      <li *ngFor="let item of topItems; let i = index">
        {{ i + 1 }}. {{ getProductById(item[0])?.name }} - mua {{ item[1] }} lần
      </li>
    </ul>
  </div>

</div>