<div class="container">
  <div class="row">
    <div class="col-md-6 col-xl-4">
      <div class="card mb-3 widget-content bg-midnight-bloom">
        <div class="widget-content-wrapper text-white">
          <div class="widget-content-left">
            <div class="widget-heading">Nhà hàng: </div>
            <div class="widget-subheading"></div>
          </div>
          <div class="widget-content-right">
            <div class="widget-numbers text-white"><span>{{countRestaurant}}</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div class="card mb-3 widget-content bg-arielle-smile">
        <div class="widget-content-wrapper text-white">
          <div class="widget-content-left">
            <div class="widget-heading">Tổng đơn hàng: </div>
            <div class="widget-subheading"></div>
          </div>
          <div class="widget-content-right">
            <div class="widget-numbers text-white"><span> {{ paidBillsCount }} đơn </span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div class="card mb-3 widget-content bg-grow-early">
        <div class="widget-content-wrapper text-white">
          <div class="widget-content-left">
            <div class="widget-heading">Tổng doanh thu</div>
            <div class="widget-subheading"></div>
          </div>
          <div class="widget-content-right">
            <div class="widget-numbers text-white"><span>{{ formatAmount(totalRevenue!) }}</span></div>
          </div>
        </div>
      </div>
    </div>
    <h1 class="text-center">Kiểm tra doanh thu theo năm</h1><br>
    <div style="width: 120px;">
      <label for="selectedYear">Chọn năm:</label>
      <select id="selectedYear" [(ngModel)]="selectedYear" (change)="onYearSelected()" class="form-select">
        <option *ngFor=" let year of years" [value]="year">{{ year }}</option>
      </select>
    </div>
    <div class="col-12">
      <div class="chart-container">
        <ngx-charts-bar-vertical [view]="[1200, 400]" [scheme]="colorScheme" [results]="monthlyRevenue"
          [gradient]="true" [xAxis]="true" [yAxis]="true" [legend]="true" [showXAxisLabel]="true"
          [showYAxisLabel]="true" xAxisLabel="Tháng" yAxisLabel="Doanh thu">
        </ngx-charts-bar-vertical>
      </div>
    </div><br><br>

    <h1 class="text-center">Kiểm tra hóa đơn theo ngày</h1><br>
    <div class="row">
      <div class="col-md-4">
        <label for="startDate">Ngày bắt đầu:</label>
        <input class="form-control" type="date" id="startDate" [(ngModel)]="startDate">
      </div>
      <div class="col-md-4">
        <label for="endDate">Ngày kết thúc:</label>
        <input class="form-control" type="date" id="endDate" [(ngModel)]="endDate">
      </div>
      <div class="col-md-4">
        <button class="btn btn-success mt-4" (click)="getRevenueAndBills();toggleTable()">Kiểm tra</button>
      </div>
    </div>
    <table class="table" *ngIf="showTable">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Khách </th>
          <th scope="col">Ngày </th>
          <th scope="col">Tổng tiền</th>
          <th scope="col">Phương thức thanh toán</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bill of billsData ">
          <td> {{ bill.billId }}</td>
          <td>{{bill.userId}}</td>
          <td>{{bill.billTime | date: 'dd-MM-yyyy' }}</td>
          <td>{{ formatAmount(bill.totalAmount) }}</td>
          <td>{{ bill.paymentMethod === 0 ? 'COD' : 'VNPAY' }}</td>

        </tr>
      </tbody>
    </table>
    
    <h1 class="text-center mt-5">Bàn được đặt trong ngày</h1><br>
    <div class="col-3">
      <label for="dateInput">Chọn ngày:</label>
      <input class="form-control" type="date" id="dateInput" [(ngModel)]="selectedDate">
      <button class="btn btn-primary m-3" (click)="getReservations()">Kiểm tra</button>
    </div>

    <div *ngIf="reservations.length > 0">
      <h1>Các bàn được đặt trong ngày {{ selectedDate | date: 'dd-MM-yyyy' }}</h1>
      <ul>

        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
          <thead>
            <tr>
              <th class="text-center">Mã đặt bàn</th>
              <th class="text-center">Mã bàn</th>
              <th class="text-center">Khách</th>
              <th class="text-center">Ngày tới</th>
              <th class="text-center">Giờ tới</th>
              <th class="text-center">Giờ đi</th>
              <th class="text-center">Trạng thái</th>
              <th class="text-center">Số lượng khách hàng</th>
              <th class="text-center">Thời gian sử dụng còn lại</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let reservation of reservations">
              <td class="text-center text-muted">RS{{ reservation.reservationId }}</td>
              <td class="text-center text-muted">{{ reservation.restaurantTableId }}</td>
              <td class="text-center text-muted">{{ reservation.userId }}</td>
              <td class="text-center text-muted">{{ reservation.reservationDate | date: 'dd-MM-yyyy' }}</td>
              <td class="text-center text-muted">{{ reservation.reservationDate | date: 'HH:mm:ss' }}</td>
              <td class="text-center text-muted">{{ reservation.outTime | date: 'HH:mm:ss' }}</td>
              <td class="text-center text-muted">{{ reservation.reservationStatusName }}</td>
              <td class="text-center text-muted">{{ reservation.numberOfGuests }}</td>
              <td class="text-center text-muted">{{ (hoursUse(reservation)) }}</td>
              <td class="text-center">
              </td>
            </tr>
          </tbody>
        </table>
      </ul>
    </div>
    <h1 class="text-center">Món được mua nhiều</h1>
    <div *ngIf="mostOrderedItems">
      <table>
        <thead>
          <tr>
            <th>Tên món</th>
            <th>Số lần mua</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of mostOrderedItems">
            <td>{{ getProductById(item.menuItemId)?.name }}</td>
            <td>{{ item.quantity }}</td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>