<div class="modal-header">
    <h4 class="modal-title">Product Detail</h4>
    <button type="button" class=" btn close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<main class="container">
    <!-- Left Column / Headphones Image -->
    <div class="left-column">
        <img class="active" style="width: 90%;"
            src="https://static.kfcvietnam.com.vn/images/items/lg/SALAD-HAT-GA-VIEN.jpg?v=gzNOBg" alt="burger">
        <img data-image="blue" src="https://designmodo.com/demo/product-page/images/blue.png" alt="">
        <!-- <img data-image="red" class="active" src="https://designmodo.com/demo/product-page/images/red.png" alt=""> -->
    </div>


    <!-- Right Column -->
    <div class="right-column">

        <!-- Product Description -->
        <div class="product-description">
            <h1>{{ product?.name }}</h1>
        </div>
        <!-- Product Configuration -->
        <div class="product-configuration">
            <!-- Product Color -->
            <p> {{ product?.description }}</p>

            <!-- Cable Configuration -->
            <div class="cable-config">
                <span>Loại</span>
                <div class="cable-choose">
                    <button>{{ (getCategoryById(product!.categoryId) |
                        async)?.name}}</button>
                </div>

                <a href="#">How to configurate your food</a>
            </div>
        </div>

        <!-- Product Pricing -->
        <div class="product-price">
            <span> {{ formatAmount(product!.unitPrice) }}</span>
            <a href="#" class="cart-btn">Add to cart</a>
        </div>
    </div>
</main>