/* CSS cho input number */
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  width: 50px;
  padding: 5px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

*{
  margin: 0px;
  padding: 0px;
}

.modal-header{
  height: 60px;
  padding: 0px 10px;
}

.close span{
  transition: transform 0.3s ease-in-out;
}

.close span:hover{
  color: red;
  transform: scale(1.1);
}

.row-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  background-color: #f0f0f0;
}

.left-column {
  flex-basis: calc(40%);
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  background-color: #f0f0f0;
}

.right-column {
  flex-basis: calc(60%);
  box-sizing: border-box;
  text-align: left;
  padding: 20px 0px;
  margin: 10px 0px;
}

.cable-config{
  margin-bottom: 10px;
}

.cable-config h6{
  color: orange;
  font-size: 20px;
}

.cart-btn{
  border: 1px solid green;
  color: green;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 18px;
  text-decoration: none;
}

.cart-btn:hover{
  border: 1px solid green;
  border-radius: 50px;
  padding: 10px 20px;
  color: #f0f0f0;
  background-color: green;
  font-size: 18px;
  text-decoration: none;
}

/* .cart-btn:hover{
  background-color: green;
  position: relative;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 35px rgba(255, 255, 255, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 30px;
  transition: all 0.3s;
  z-index: 0;
}

.cart-btn::before{
  background-color: green;
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: -60%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.05), transparent);
  z-index: 1;
  transform: skewX(45deg) translateX(0);
  transition: ease-out 0.5s;
}

.cart-btn:hover::before{
  transform: skewX(45deg) translateX(250%);

} */

.like-icon{
  margin-left: 10px;
  padding-top: 15px;
  font-size: 30px;
}

.like-icon:hover{
  color: red;
  cursor: pointer;
}

.product-description{
  font-family: "Helvetica Neue", Helvetica, Arial, 文泉驛正黑, "WenQuanYi Zen Hei", "Hiragino Sans GB", "儷黑 Pro", "LiHei Pro", "Heiti TC", 微軟正黑體, "Microsoft JhengHei UI", "Microsoft JhengHei", sans-serif;
  color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  margin-right: 10px;
  border-bottom: 1px solid #ccc;
}


/* footer */

.footer-title{
  padding: 10px 10px;
}

.row-footer{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #f0f0f0;
}

.footer-item{
  flex-basis: calc(30%);
  box-sizing: border-box;
  text-align: left;
  padding: 10px;
  margin: 10px;
  background-color: white;
  border: 1px solid #ccc;
}

.footer-item img{
  max-height: 150px;
}

.footer-no-product{
  border: 1px solid #ccc;
  height: 100px;
  padding-top: 30px;
  font-size: 20px;
  text-align: center;
  width: 100%;
}

.wow,
.animated {
    animation-duration: 1s !important;
}
