<div class="modal-header">
  <h4 class="modal-title">Chi tiết</h4>
  <a class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
  </a>
</div>
<div class="modal-body">
  <form [formGroup]="restaurantTableForm" (ngSubmit)="updateRestaurantTable()">
    <div class="row g-3">
      <div class="col-md-4">
        <label for="tableName" class="form-label">Tên bàn<span style="color: red;">(*)</span></label>
        <input type="text" formControlName="tableName" class="form-control" placeholder="Nhập tên bàn...">
        <div
          *ngIf="restaurantTableForm.get('tableName')?.invalid && (restaurantTableForm.get('tableName')?.touched || isSubmitted)"
          class="text-danger"> Không bỏ trống tên bàn.
        </div>
      </div>

      <div class="col-md-4">
        <label for="restaurantId" class="form-label">Nhà hàng<span style="color: red;">(*)</span></label>
        <select class="form-select" aria-label="Default select example" formControlName="restaurantId">
          <option value>Chọn nhà hàng</option>
          <option *ngFor="let restaurant of restaurants" [value]="restaurant.restaurantId"> {{
            restaurant.restaurantName
            }}
          </option>
        </select>
        <div
          *ngIf="restaurantTableForm.get('restaurantId')?.invalid && (restaurantTableForm.get('restaurantId')?.touched || isSubmitted)"
          class="text-danger">
          Không bỏ trống nhà hàng.
        </div>
      </div>

      <div class="col-md-4">
        <label for="tableTypeId" class="form-label">Kiểu bàn<span style="color: red;">(*)</span></label>
        <select class="form-select" aria-label="Default select example" formControlName="tableTypeId">
          <option value>Chọn kiểu bàn</option>
          <option *ngFor="let tableType of tableTypes" [value]="tableType.tableTypeId"> {{ tableType.tableTypeName
            }}
          </option>
        </select>
        <div
          *ngIf="restaurantTableForm.get('tableTypeId')?.invalid && (restaurantTableForm.get('tableTypeId')?.touched || isSubmitted)"
          class="text-danger">
          Không bỏ trống kiểu bàn.
        </div>
      </div>


      <div class="col-md-4">
        <label for="tableStatusId" class="form-label">Trạng thái bàn<span style="color: red;">(*)</span></label>
        <select class="form-select" aria-label="Default select example" formControlName="tableStatusId">
          <option value="Đang hoạt động" selected>Đang hoạt động</option>
          <option value="Không hoạt động">Không hoạt động</option>
        </select>
        <div
          *ngIf="restaurantTableForm.get('tableStatusId')?.invalid && (restaurantTableForm.get('tableStatusId')?.touched || isSubmitted)"
          class="text-danger">
          Không bỏ trống trạng thái bàn.
        </div>
      </div>

      <div class="col-md-4">
        <label for="exampleInputPassword1" class="form-label">Số khách tối đa</label>
        <select class="form-select" formControlName="seatingCapacity">
          <option *ngFor="let number of numbersArray" [value]="number">{{ number }}</option>
        </select>
      </div>

      <div class="col-md-4">
        <label class="form-label">Mô tả</label>
        <textarea cols="30" rows="4" formControlName="description">{{ restaurantTable?.description }}</textarea>
      </div>

      <div class="text-center">
        <button type="submit">Thay đổi</button>
      </div>
    </div>
  </form>
</div>