<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
  <div class="app-header header-shadow">
    <div class="app-header__logo">
      <i class="fa-solid fa-seedling"></i> <b> SPRINGLEAF</b>
    </div>
    <div class="app-header__content">
      <div class="app-header-left">
        <ul class="header-menu nav">
          <li class="nav-item">
            <a routerLink="/user/index" class="nav-link">
              Trang bán hàng
            </a>
          </li>
        </ul>
      </div>
      <div class="app-header-right">
        <div class="header-btn-lg pr-0">
          <div class="widget-content p-0">
            <div class="widget-content-wrapper">
              <div class="widget-content-left  ml-3 header-user-info">
                <div class="widget-heading">
                  {{truncateString(user?.fullName!)}}
                </div>
                <div class="widget-subheading" *ngIf="userRoles">
                  {{userRoles}}
                </div>
              </div>
              <div class="widget-content-right header-user-info ml-3">
                <img class="small-round-image mr-2" [src]="'http://localhost:8080/public/getImage/' + user?.image!"
                  #imagePreview />
              </div>
              <div class="widget-content-left">
                <div class="btn-group">
                  <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                    <i class="fa fa-angle-down ml-2 opacity-8"></i>
                  </a>
                  <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                    <button type="button" tabindex="0" class="dropdown-item" (click)="logOut()">Đăng xuất</button>
                    <button type="button" tabindex="0" class="dropdown-item">Settings</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="app-main scrollbar-sidebar">
    <div class="app-sidebar sidebar-shadow">
      <div class="">
        <div class="app-sidebar__inner">
          <ul class="vertical-nav-menu">
            <li class="app-sidebar__heading">DASHBOARDS</li>
            <li>
              <a routerLink="/admin/index" class="mm-active">
                <i class="fa-solid fa-chart-simple metismenu-icon"></i>
                Thống kê
              </a>
            </li>
            <li class="app-sidebar__heading">Quản trị</li>
            <li>
              <a>
                <i class="fas fa-user-tie metismenu-icon"></i>
                Quản lý
                <i class="fas fa-caret-right metismenu-state-icon "></i>
              </a>
              <ul>
                <li>
                  <a routerLink="/admin/users">
                    <i class="metismenu-icon"></i>
                    Quản lý người dùng
                  </a>
                </li>
                <li *ngIf="userRoles === 'ADMIN'">
                  <a routerLink="/admin/roles">
                    <i class="metismenu-icon"></i>
                    Quản lý quyền
                  </a>
                </li>
                <li *ngIf="userRoles === 'ADMIN'">
                  <a routerLink="/admin/userRoles">
                    <i class="metismenu-icon">
                    </i>Quản quyền người dùng
                  </a>
                </li>
              </ul>
            </li>
            <li class="app-sidebar__heading">Món ăn & Đồ uống</li>
            <li>
              <a>
                <i class="fa-solid fa-bowl-food metismenu-icon"></i>
                Quản lý món
                <i class="fas fa-caret-right metismenu-state-icon "></i>
              </a>
              <ul>
                <li>
                  <a routerLink="/admin/products">
                    <i class="metismenu-icon"></i>
                    Quản lý món
                  </a>
                </li>
                <li>
                  <a routerLink="/admin/ingredients">
                    <i class="metismenu-icon">
                    </i>Quản lý nguyên liệu
                  </a>
                </li>
                <li>
                  <a routerLink="/admin/categories">
                    <i class="metismenu-icon">
                    </i>Quản lý loại
                  </a>
                </li>
              </ul>
            </li>

            <li class="app-sidebar__heading">Nhà hàng</li>
            <li>
              <a>
                <i class="fa-solid fa-utensils metismenu-icon"></i>
                Quản lý nhà hàng
                <i class="fas fa-caret-right metismenu-state-icon "></i>
              </a>
              <ul>
                <li>
                  <a routerLink="/admin/restaurants">
                    <i class="metismenu-icon"></i>Nhà hàng
                  </a>
                </li>
                <!-- <li>
                  <a routerLink="/admin/diagram">
                    <i class="metismenu-icon"></i>Sơ đồ nhà hàng
                  </a>
                </li> -->
                <li>
                  <a routerLink="/admin/tableTypes">
                    <i class="metismenu-icon"></i>Quản lý kiểu bàn
                  </a>
                </li>
                <li>
                  <a routerLink="/admin/reservations">
                    <i class="metismenu-icon"></i>Quản lý đặt bàn
                  </a>
                </li>
                <li>
                  <a routerLink="/admin/mergeTables">
                    <i class="metismenu-icon"></i>Quản lý gộp bàn
                  </a>
                </li>
                <li>
                  <a routerLink="/admin/restaurantTables">
                    <i class="metismenu-icon"></i>Quản lý Bàn
                  </a>
                </li>
                <!-- <li>
                  <a routerLink="/admin/inventoryBranches">
                    <i class="metismenu-icon"></i>Quản lý chi nhánh
                  </a>
                </li> -->
                <li>
                  <a routerLink="/admin/inventoryBranchIngredients">
                    <i class="metismenu-icon"></i>Quản lý kho nguyên liệu
                  </a>
                </li>
                <li>
                  <a routerLink="/admin/discounts">
                    <i class="metismenu-icon"></i> Quản lý giảm giá
                  </a>
                </li>
                <!-- <li>
                  <a routerLink="/admin/combos">
                    <i class="metismenu-icon"></i>Quản lý Combo
                  </a>
                </li> -->
              </ul>
            </li>
            <!-- <li class="app-sidebar__heading">Kho</li>
            <li>
              <a routerLink="/admin/menuItemIngredients">
                <i class="fa-solid fa-plate-wheat metismenu-icon"></i>Quản lý nguyên liệu món
              </a>
            </li>
            <li>
              <a routerLink="/admin/orderThresholds">
                <i class="fa-solid fa-chart-line metismenu-icon"></i>Quản lý ngưỡng đặt
              </a>
            </li>
            <li>
              <a routerLink="/admin/suppliers">
                <i class="fa-solid fa-building metismenu-icon"></i>
                Quản lý nhà cung cấp
              </a>
            </li>
            <li>
              <a routerLink="/admin/inventories">
                <i class="fa-solid fa-warehouse metismenu-icon"></i>
                Quản lý kho
              </a>
            </li> -->
            <li class="app-sidebar__heading">Đơn hàng</li>
            <li>
              <a routerLink="/admin/orders">
                <i class="fa-solid fa-file-invoice metismenu-icon"></i>
                Quản lý đơn hàng
                <i class="fas fa-caret-right metismenu-state-icon "></i>
              </a>
              <ul>
                <li>
                  <a routerLink="/admin/bills">
                    <i class="fa-solid fa-file-invoice metismenu-icon"></i>
                    Lịch sử đơn hàng
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>