<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" routerLink="/admin/index" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/categories" routerLinkActive="active">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/inventories" routerLinkActive="active">Kho</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/products" routerLinkActive="active">Sản phẩm</a>
                <i class="en-gauge"></i>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/restaurantTables" routerLinkActive="active">Bàn</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/tableStatuses" routerLinkActive="active">Trạng thái bàn</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/suppliers" routerLinkActive="active">Nhà cung cấp</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/ingredients" routerLinkActive="active">Nguyên liệu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/inventoryBranches" routerLinkActive="active">Chi nhánh</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/user/index" routerLinkActive="active">User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/combos" routerLinkActive="active">Combo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/goodsReceipts" routerLinkActive="active">Phân phối</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/events" routerLinkActive="active">Sự kiện</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/tableTypes" routerLinkActive="active">Kiểu bàn</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/restaurants" routerLinkActive="active">Nhà hàng</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/receipts" routerLinkActive="active">Hóa đơn</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/comboDetails" routerLinkActive="active">Chi tiết combo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/reservations" routerLinkActive="active">Đặt bàn</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/reservationStatuses" routerLinkActive="active">Trạng thái đặt bàn</a>
            </li>
        </ul>
    </div>
</nav>