<nav>
    <div>
        <ul>
            <li>
                <a class="nav-link active" routerLink="/admin/index">Home</a>
            </li>
            <li>
                <a class="nav-link" routerLink="/admin/categories" routerLinkActive="active">Categories</a>
            </li>
            <li>
                <a class="nav-link" routerLink="/admin/inventories" routerLinkActive="active">Kho</a>
            </li>
            <li>
                <a class="nav-link" routerLink="/admin/products" routerLinkActive="active">Sản phẩm</a>
                <i class="en-gauge"></i>
            </li>
            <li>
                <a class="nav-link" routerLink="/admin/restaurantTables" routerLinkActive="active">Bàn</a>
            </li>
            <li>
                <a class="nav-link" routerLink="/admin/suppliers" routerLinkActive="active">Nhà cung cấp</a>
            </li>
            <li>
                <a class="nav-link" routerLink="/admin/ingredients" routerLinkActive="active">Nguyên liệu</a>
            </li>
            <li>
                <a class="nav-link" routerLink="/user/index" routerLinkActive="active">User</a>
            </li>
        </ul>
    </div>
</nav>